@model Wiki.OTK_Reclamation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OTK_Reclamation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Complited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReclamationText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReclamationText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTK_ChaeckList.UserCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTK_ChaeckList.UserCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTK_TypeReclamation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTK_TypeReclamation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
