@model Wiki.OTK_Reclamation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<div class="container">
    <hr />
    <h1></h1>
    <label>Текст замечания</label>
    @Html.TextAreaFor(model => model.ReclamationText, new { @class = "form-control", @cols = 1400, @rows = 5 })
    <h4></h4>
    <label>Тип замечания</label>
    @Html.DropDownList("TypeReclamation", null, htmlAttributes: new { @class = "form-control" })
    <h4></h4>
    <label>Прим.</label>
    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @cols = 1400, @rows = 5 })
    <h4></h4>
    <label>Время затраченное на выявление неисправности, ч.</label>
    @Html.EditorFor(model => model.LaborCostOTK, new { htmlAttributes = new { @class = "form-control" } })
    <h4></h4>
    <label>Закрыта</label>
    @Html.EditorFor(model => model.Complited)
    <h4></h4>
    <label>Отдел, которому направляется замечание</label>
    @Html.DropDownList("Devision", null, htmlAttributes: new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Devision, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.DateTimeCreate)
    @Html.HiddenFor(model => model.AnswerDate)
    @Html.HiddenFor(model => model.AnswerText)
    @Html.HiddenFor(model => model.AnswerUser)
    @Html.HiddenFor(model => model.CheckList)
    @Html.HiddenFor(model => model.User)
    @Html.HiddenFor(model => model.mailPost)

    <h1></h1>
    <input type="submit" value="Сохранить" class="btn btn-success" />

</div>











}

