@model Wiki.CMO_UploadResult
@{
    ViewBag.Title = "UploadDataCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 500px"></div>

<h4>Внести полученые данные от ЦМО</h4>
<hr />
<h4>Заказ: @ViewBag.Position</h4>
<h4>Подрядчик: @ViewBag.Company</h4>
Заявка №: @ViewBag.Order
<br />

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.cost)
    @Html.HiddenFor(model => model.id_CMO_Tender)
    @Html.HiddenFor(model => model.id_CMO_Company)
    <div class="row">
        <div class="col-md-6">
            <h4>Декларируемое время изготовления</h4>
            @Html.EditorFor(model => model.day, new { htmlAttributes = new { @class = "form-control" } })
            <hr />
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
    </div>
}
