@model Wiki.VVPZ

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VVPZ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.massaBrutto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.massaBrutto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.massaNetto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.massaNetto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gruzopoluchatel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gruzopoluchatel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresGruzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresGruzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iNNGruz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iNNGruz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oKPOGruz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oKPOGruz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kodGruz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kodGruz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sTNazn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sTNazn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kodSt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kodSt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.osobieOtm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.osobieOtm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prochee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prochee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PZ_PlanZakaz.MTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PZ_PlanZakaz.MTR)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
