@*https://chrome.google.com/webstore/detail/enable-local-file-links/nikfmfgobenbhmocjaaboihbeocackld/related*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CMOS/Views/Shared/_LayoutCMOS.cshtml";
}
<head>
    <script src="~/Areas/CMOS/Content/CMOS.js?v.3.0.1"></script>
    <link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
    <script src="~/Content/Chosen/chosen.jquery.min.js"></script>
    <style>
        .highlightColor {
            background-color: #c42525;
            color: white;
        }
        .loader {
            border: 5px solid #d7d7d7;
            border-radius: 50%;
            border-top: 5px solid #c1e6be;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }
        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://tpserver/PWA/Projects.aspx">Проекты</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("GerOrderForArmis", "CMOSS")">Отчет Армис</a>
            </li>
            <li>
                <a href="@Url.Action("ControlReport", "CMOSS")">Анализ цен</a>
            </li>
            <li>
                <a style="color:crimson" href="/Account/Login/">@{Html.RenderAction("RenderUserMenu", "CMOSS"); }</a>
            </li>
            <li><a id="pageId"></a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
        <button id="btnAddPreOrder" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=CreatePreOrder()>Сформировать предзаказ изделий из ЛМ</button>
        <button id="btnReOrder" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=CreateBackorder()>Сформировать дозаказ изделий из ЛМ</button>
        <button id="btnAddOrder" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=CreateOrder()>Сформировать заказ изделий из ЛМ</button>
        <button id="btnOpeningMaterialsCModal" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=OpeningMaterialsCModal()>Загрузить SKU</button>
        <button id="btnInput" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=OpeningInputModal()>Загрузить Поступления</button>
        <button id="btnCorrectArmis" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=OpeningCorrectArmis()>Сверка Армис</button>
        <button id="btnCorrectGratius" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=OpeningCorrectGratius()>Сверка Гратиус</button>
        <button id="btnCorrectEcowood" style="display:none;" type="button" class="btn-xs btn-primary" data-toggle="modal" onclick=OpeningCorrectEcowood()>Сверка Эковуд</button>
        <hr />
        <div id="dTableNoPlaningPreOrder" style="display:none;">
            <label>Требуется сформировать заказ поставщику:</label>
            <table id="tableNoPlaningPreOrder" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dTableNoPlaningOrder" style="display:none;">
            <label>Подтвердить запуск заказа/дозаказа в работу:</label>
            <table id="tableNoPlaningOrder" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dTableTNOrder" style="display:none;">
            <label>Получить накладную по заказу/дозаказу:</label>
            <table id="tableTNOrder" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dTableNoClothingOrder" style="display: none;">
            <label>Подтвердить поступление изделий из ЛМ:</label>
            <table id="tableNoClothingOrder" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dFullReport" style="display:none;">
            <label>Полный отчет:</label>
            <table id="fullReport" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dShortReport" style="display:none;">
            <label>Сокращенный отчет:</label>
            <table id="shortReport" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
    </div>
</div>

<div id="creatingPreOrderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <label>Введите № план-заказа/ов:</label>
                        @Html.ListBox("pzList", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-4">
                        <label>Укажите полуфабрикат:</label>
                        @Html.DropDownList("typeProductId", ViewBag.id_CMO_TypeProduct as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8">
                        <input accept=".xls, .xlsx" type="file" multiple name="filePreorder" id="filePreorder" enctype="multipart/form-data" value="Выбрать файл/ы" /><br />
                    </div>
                    <div class="col-lg-4">
                        <button id="btnAddPreOrderModal" class="btn btn-primary" onclick="AddPreOrder()">Создать предзаказ</button>
                        <div id="loaderPreorder" class="loader"></div>
                    </div>
                </div>
                <hr />
                <div>
                    <label>Контроль бюджета:</label>
                    <table id="controlPreorderTable" class="table table-hover table-striped" style="width:100%;"></table>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="creatingBackorderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <label>Введите №план-заказа/ов:</label>
                        @Html.ListBox("pzListBackorder", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-4">
                        <label>Укажите поставщика:</label>
                        @Html.DropDownList("customerBackorder", ViewBag.id_CMO_Company as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8">
                        <input accept=".xls, .xlsx" type="file" multiple name="fileBackorder" id="fileBackorder" enctype="multipart/form-data" value="Выбрать файл" /><br />
                    </div>
                    <div class="col-lg-4">
                        <button id="btnAddBackorderModal" class="btn btn-primary" onclick="AddBackorder()">Создать дозаказ</button>
                        <div id="loaderBackorder" class="loader"></div>
                    </div>
                </div>
                <div>
                    <label>Контроль бюджета:</label>
                    <table id="controlBackorderTable" class="table table-hover table-striped" style="width:100%;"></table>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="orderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>ИД:</label>
                        <input type="text" class="form-control" id="idOrder" disabled="disabled" />
                    </div>
                    <div class="col-lg-4">
                        <label>Укажите предзаказ/ы:</label>
                        <input type="text" class="form-control" id="preordersList" disabled="disabled" />
                    </div>
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-2">
                        <label>Укажите поставщика:</label>
                        @Html.DropDownList("customerOrderId", ViewBag.id_CMO_Company as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Автор заказа:</label>
                        <input type="text" class="form-control" id="aspNetUsersCreateId" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата и время создания:</label>
                        <input type="text" class="form-control" id="dateTimeCreate" disabled="disabled" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Получить ответ:</label>
                        <input type="text" class="form-control" id="workDate" disabled="disabled" autocomplete="off" />
                    </div>
                    <div class="col-lg-2">
                        <label>Срок поставки:</label>
                        <input type="text" class="form-control" id="manufDate" disabled="disabled" autocomplete="off" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата поставки:</label>
                        <input type="text" class="form-control" id="finDate" disabled="disabled" autocomplete="off" />
                    </div>
                    <div class="col-lg-2">
                        <label>№ док. поступления ТМЦ:</label>
                        <input type="text" class="form-control" id="numberTN" disabled="disabled" autocomplete="off" />
                    </div>
                    <div class="col-lg-2">
                        <label>Расчетный вес:</label>
                        <input type="text" class="form-control" id="planWeight" disabled="disabled" autocomplete="off" />
                    </div>
                    <div class="col-lg-2">
                        <label>Ставка за кг, USD:</label>
                        <input type="text" class="form-control" id="rate" />
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Цена, BYN:</label>
                        <input type="text" class="form-control" id="cost" disabled="disabled" autocomplete="off" />
                    </div>
                    <div class="col-lg-2">
                        <label>Курс валюты:</label>
                        <input type="text" class="form-control" id="curency" disabled="disabled" autocomplete="off" />
                    </div>

                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button id="btnAddOrderModal" class="btn btn-primary" onclick="AddOrder()">Создать заказ</button>
                        <button id="btnUpdateOrder" class="btn btn-primary" onclick="UpdateOrder()">Обновить заказ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="newOrderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Укажите предзаказ/ы:</label>
                        @Html.ListBox("id_CMOSPreorder", ViewBag.id_CMOSPreorder as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-2">
                        <label>Укажите поставщика:</label>
                        @Html.DropDownList("customerNewOrderId", ViewBag.id_CMO_Company as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Получить ответ:</label>
                        <input type="text" class="form-control" id="workDateNew" autocomplete="off" />
                    </div>
                    <div class="col-lg-2">
                        <label>Требуемый срок поставки:</label>
                        <input type="text" class="form-control" id="datePlanningGetMaterials" autocomplete="off" />
                    </div>
                </div>
                <hr />
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button id="btnAddNewOrderModal" class="btn btn-primary" onclick="AddOrder()">Создать заказ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="positionsPreorderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Позиции предзаказа:</label>
                        <table id="tablePositionsPreorder" class="table table-hover table-striped" style="width:100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="materialsCModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <input accept=".xlsx" type="file" multiple name="fileC" id="fileC" enctype="multipart/form-data" value="Выбрать файл" /><br />
                    </div>
                    <div class="col-lg-4">
                        <button id="btnLoadingMaterialsC" class="btn btn-primary" onclick="LoadingMaterialsC()">Загрузить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="inputModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <input accept=".xlsx" type="file" multiple name="fileInput" id="fileInput" enctype="multipart/form-data" value="Выбрать файл" /><br />
                    </div>
                    <div class="col-lg-4">
                        <button id="btnLoadingInput" class="btn btn-primary" onclick="LoadingInput()">Загрузить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="OpeningCorrectArmisModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <label>Укажите № заказа изделий из ЛМ:</label>
                        @Html.DropDownList("correctingListArmis", ViewBag.correctingListArmis as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8">
                        <input accept=".xls, .xlsx" type="file" multiple name="fileArmisOrder" id="fileArmisOrder" value="Выбрать файл" /><br />
                    </div>
                    <div class="col-lg-4">
                        <button id="btnLoadingFileArmis" class="btn btn-primary" onclick="LoadingFileArmis()">Проверить файл</button>
                        <div id="loaderOpeningCorrectArmisModal" class="loader"></div>
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="OpeningCorrectGratiusModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <label>Укажите № заказа изделий из ЛМ:</label>
                        @Html.DropDownList("correctingListGratius", ViewBag.correctingListGratius as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8">
                        <input accept=".xls, .xlsx" type="file" multiple name="fileGratiusOrder" id="fileGratiusOrder" value="Выбрать файл" /><br />
                    </div>
                    <div class="col-lg-4">
                        <button id="btnLoadingFileGratius" class="btn btn-primary" onclick="LoadingFileGratius()">Проверить файл</button>
                        <div id="loaderOpeningCorrectGratiusModal" class="loader"></div>
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="OpeningCorrectEcowoodModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        <label>Укажите № заказа изделий из ЛМ:</label>
                        @Html.DropDownList("correctingListEcowood", ViewBag.correctingListEcowood as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-8">
                        <input accept=".xls, .xlsx" type="file" multiple name="fileEcowoodOrder" id="fileEcowoodOrder" value="Выбрать файл" /><br />
                    </div>
                    <div class="col-lg-4">
                        <button id="btnLoadingFileEcowood" class="btn btn-primary" onclick="LoadingFileEcowood()">Проверить файл</button>
                        <div id="loaderOpeningCorrectEcowoodModal" class="loader"></div>
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".modal-wide").on("show.bs.modal", function () {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });
</script>
<script>
    $(".chosen-select").chosen({
        placeholder_text_multiple: "Нажмите для выбора...",
        allow_single_deselect: true, disable_search_threshold: 5, width: "100%"
    });
</script>
<script>
    var userGroupId = @ViewBag.userGroupId;
</script>
<script type="text/javascript">
    $(function () {
        $('#workDate').datetimepicker({
            locale: 'ru',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#manufDate').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#finDate').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#workDateNew').datetimepicker({
            locale: 'ru',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#dateTN').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#datePlanningGetMaterials').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>