


@model Wiki.Debit_TN

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Данные о ТН/СН/Отпускной цене (без НДС): @ViewBag.Order</h4>

    Номер ТН:
    @Html.EditorFor(model => model.numberTN, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.numberTN, "", new { @class = "text-danger" })

    Дата ТН:
    @Html.EditorFor(model => model.dateTN, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.dateTN, "", new { @class = "text-danger" })

    Номер СФ:
    @Html.EditorFor(model => model.numberSF, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.numberSF, "", new { @class = "text-danger" })
    Дата СФ:
    @Html.EditorFor(model => model.dateSF, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.dateSF, "", new { @class = "text-danger" })
    Отпускная цена без НДС:
    @Html.EditorFor(model => model.Summa, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Summa, "", new { @class = "text-danger" })
    <hr />

    <input type="submit" value="Сохранить" class="btn btn-default" />

</div>
}

<script type="text/javascript">
    $(function () {
        $('#dateTN').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#dateSF').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>