@model Wiki.OTK_ReclamationKO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OTK_ReclamationKO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shippedOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shippedOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clouseReclamation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clouseReclamation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userError)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTK_CounterErrorKO.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTK_CounterErrorKO.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTK_TypeReclamation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTK_TypeReclamation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PZ_PlanZakaz.MTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PZ_PlanZakaz.MTR)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
