@model IEnumerable<Wiki.OTK_ReclamationKO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Замечания КО</h2>
<span>
    <a href="~/OTK_ReclamationKO/Create" class="btn btn-info" role="button">Добавить</a>
</span>
&nbsp&nbsp
<h2></h2>
<h2></h2>
<h4>Активные замечания</h4>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th width="20"> № </th>
        <th width="50"> Заказ </th>
        <th width="75"> СП </th>
        <th width="200"> Тип </th>
        <th width="400"> Описание </th>
        <th width="200"> Кто создал </th>
        <th width="200"> Ответственный </th>
        <th width="150"> Степень ошибки </th>
        <th width="150"> Дата и время </th>
        <th> Ред. </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td width="20"> @Html.DisplayFor(modelItem => item.id) </td>
        <td width="50"> @Html.DisplayFor(modelItem => item.PZ_PlanZakaz.PlanZakaz) </td>
        <td width="75"> @Html.DisplayFor(modelItem => item.AspNetUsers.Devision1.name) </td>
        <td width="200"> @Html.DisplayFor(modelItem => item.OTK_TypeReclamation.Name) </td>
        <td width="400"> @Html.DisplayFor(modelItem => item.textReclamation) </td>
        <td width="200"> @Html.DisplayFor(modelItem => item.AspNetUsers3.CiliricalName) </td>
        <td width="200"> @Html.DisplayFor(modelItem => item.AspNetUsers.CiliricalName) </td>
        <td width="150"> @Html.DisplayFor(modelItem => item.OTK_CounterErrorKO.name) </td>
        <td width="150"> @Html.DisplayFor(modelItem => item.dateCreate) </td>
        @if (item.aplayResylt == false)
        {
            <td> @Html.ActionLink("Ред.", "Edit", new { id = item.id }) </td>
        }
        else
        {
            <td></td>
        }
    </tr>
    }
</table>
<span>
    <a href="~/OTK_ReclamationKO/Index" class="btn btn-primary" role="button">Назад</a>
</span>