@model Wiki.Areas.AccountsReceivable.Models.MailToExpeditor
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AccountsReceivable/Views/Shared/_LayoutAccountsReceivable.cshtml";
}
<head>
    <script src="~/Areas/AccountsReceivable/Content/AccountsReceivables.js"></script>
    <link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
    <script src="~/Content/Chosen/chosen.jquery.min.js"></script>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://tpserver/PWA/Projects.aspx">Проекты</a>
        </div>
        <ul class="nav nav-pills">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    Список задач
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a onclick="return loadData(2);">Мои задачи</a></li>
                    <li class="divider"></li>
                    <li><a onclick="return loadData(1);">Активные задачи</a></li>
                    <li><a onclick="return loadData(3);">Закрытые задачи</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    Оприходование
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a onclick="return loadData(4);">ТЭО</a></li>
                    <li><a onclick="return loadData(5);">Договорные условия</a></li>
                    <li><a onclick="return loadData(6);">Поступление средств</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Areas/Deb/Controllers/Отчет.xlsx">Отчет</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    Задачи PM
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a onclick="return loadData(4);">ТЭО</a></li>
                    <li><a onclick="return loadData(5);">Договорные условия</a></li>
                    <li class="divider"></li>
                    <li><a onclick="return loadData(7);">Задачи по заказам</a></li>
                </ul>
            </li>
            <li>
                <a style="color:crimson" href="/Account/Login/">
                    @{Html.RenderAction("RenderUserMenu", "AccountsReceivables"); }
                </a>
            </li>
            <li><a id="pageId"></a></li>
        </ul>
    </div>
</nav>
<div id="idLabelList">
    <label id="labelList"></label>
    <table id="tableData" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="teoModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="teoPlanZakaz" disabled="disabled" />
                </div>
                <div id="teoHide" class="col-lg-2">
                    <input type="text" class="form-control" id="idTEO" disabled="disabled" />
                    <input type="text" class="form-control" id="Id_PlanZakaz" disabled="disabled" />
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Выручка без НДС:</label>
                        <input type="text" class="form-control" id="Rate" />
                    </div>
                    <div class="col-lg-2">
                        <label>Себестоимость (мат) без НДС:</label>
                        <input type="text" class="form-control" id="SSM" />
                    </div>
                    <div class="col-lg-2">
                        <label>Себестоимость (зп рабочих):</label>
                        <input type="text" class="form-control" id="SSR" />
                    </div>
                    <div class="col-lg-2">
                        <label>Издержки коммерческие:</label>
                        <input type="text" class="form-control" id="IzdKom" />
                    </div>
                    <div class="col-lg-2">
                        <label>% по кредиту:</label>
                        <input type="text" class="form-control" id="IzdPPKredit" />
                    </div>
                    <div class="col-lg-2">
                        <label>Постоянные издержки:</label>
                        <input type="text" class="form-control" id="PI" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Новая Операционная Прибыль:</label>
                        <input type="text" class="form-control" id="NOP" />
                    </div>
                    <div class="col-lg-2">
                        <label>KI_S:</label>
                        <input type="text" class="form-control" id="KI_S" />
                    </div>
                    <div class="col-lg-2">
                        <label>KI_prochee:</label>
                        <input type="text" class="form-control" id="KI_prochee" />
                    </div>
                    <div class="col-lg-2">
                        <label>Отпускная цена, в валюте без НДС:</label>
                        <input type="text" class="form-control" id="OtpuskChena" />
                    </div>
                    <div class="col-lg-2">
                        <label>Курс валюты контракта: </label>
                        <input type="text" class="form-control" id="KursValuti" />
                    </div>
                    <div class="col-lg-2">
                        <label>Выручка без НДС:</label>
                        <input type="text" class="form-control" id="NDS" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Валюта:</label>
                        @Html.DropDownList("Currency", ViewBag.currency as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdateTEO" onclick="updateTEO();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="setupModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-2" id="divHideSetup">
                    <input type="text" class="form-control" id="idSetup" disabled="disabled" />
                    <input type="text" class="form-control" id="id_PZ_PlanZakaz" disabled="disabled" />
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="pzSetup" disabled="disabled" />
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Кол-во дней на приемку:</label>
                        <input type="text" class="form-control" id="KolVoDneyNaPrijemku" />
                    </div>
                    <div class="col-lg-2">
                        <label>Условие оплаты (дней):</label>
                        <input type="text" class="form-control" id="UslovieOplatyInt" />
                    </div>
                    <div class="col-lg-2">
                        <label>Время на подготовку РКД:</label>
                        <input type="text" class="form-control" id="TimeNaRKD" />
                    </div>
                    <div class="col-lg-2">
                        <label>Время на рассмотрение РКД:</label>
                        <input type="text" class="form-control" id="RassmotrenieRKD" />
                    </div>
                    <div class="col-lg-2">
                        <label>Сроки ответа на замечания по РКД:</label>
                        <input type="text" class="form-control" id="SrokZamechanieRKD" />
                    </div>
                    <div class="col-lg-2">
                        <label>Сотрудник подготовивший ТП:</label>
                        @Html.DropDownList("userTP", ViewBag.userTP as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Пункт договора о сроках приемки (текст):</label>
                        <textarea name="PunktDogovoraOSrokahPriemki" id="PunktDogovoraOSrokahPriemki" class="form-control" rows=7></textarea>
                    </div>
                    <div class="col-lg-6">
                        <label>Условие оплаты (текст):</label>
                        <textarea name="UslovieOplatyText" id="UslovieOplatyText" class="form-control" rows=7></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdateSetup" onclick="updateSetup();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="letterModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-10">
                    <h4>Загрузить письмо:</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateLetter", "AccountsReceivables", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Номер/а заказа/ов:</label>
                            @Html.ListBox("pZ_PlanZakazLetters", ViewBag.orders as MultiSelectList, new { @class = "chosen-select" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Дата письма:</label>
                            @Html.EditorFor(model => model.datePost, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-2">
                            <label>Номер письма (или бн):</label>
                            @Html.EditorFor(model => model.numPost, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-lg-3">
                            <label>Дата поступления изделия (для письм экспедитора):</label>
                            @Html.EditorFor(model => model.datePrihod, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <input accept="file/*" id="ofile1" multiple="multiple" name="ofile1" type="file" />
                            <hr />
                            <input type="submit" value="Загрузить письмо" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                }
            </div>
        </div>
    </div>
</div>
<div id="tnModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-10">
                    <h4>Данные о ТН, СФ и ЖДН/CMR:</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Номер/а заказа/ов:</label>
                        @Html.ListBox("pZ_PlanZakazTN", ViewBag.orders as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Номер ТН:</label>
                        <input type="text" class="form-control" id="numberTN" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата ТН:</label>
                        <input type="text" class="form-control" id="dateTN" />
                    </div>
                    <div class="col-lg-2">
                        <label>Номер СФ:</label>
                        <input type="text" class="form-control" id="numberSF" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата СФ:</label>
                        <input type="text" class="form-control" id="dateSF" />
                    </div>
                    <div class="col-lg-2">
                        <label>Номер ЖДН/CMR:</label>
                        <input type="text" class="form-control" id="numCMR" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата ЖДН/CMR:</label>
                        <input type="text" class="form-control" id="dateCMR" />
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdateTN" onclick="updateTN();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="costShModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-10">
                    <h4>Введите транспортные издержки по заказу/ам (с учетом на 1 ед выбранных заказов):</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Номер/а заказа/ов:</label>
                        @Html.ListBox("pZ_PlanZakazSF", ViewBag.orders as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Транспорт экспедитора (сумма):</label>
                        <input type="text" class="form-control" id="transportSum" />
                    </div>
                    <div class="col-lg-2">
                        <label>Счет № транспорта:</label>
                        <input type="text" class="form-control" id="numberOrder" />
                    </div>
                    <div class="col-lg-2">
                        <label>НДС с суммы транспорта:</label>
                        <input type="text" class="form-control" id="ndsSum" />
                    </div>
                    <div class="col-lg-2">
                        <label>Валюта:</label>
                        @Html.DropDownList("currency", ViewBag.currency as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdatecostSh" onclick="updateCostSh();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pmOrderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="pmOrderPZName" disabled="disabled" />
                </div>
                <div id="pmHide" class="col-lg-2">
                    <input type="text" class="form-control" id="idPZ" disabled="disabled" />
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label>Открытие заказа</label>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Тип продукции:</label>
                        @Html.DropDownList("ProductType", ViewBag.ProductType as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Мощность СТ:</label>
                        <input type="text" class="form-control" id="powerST" />
                    </div>
                    <div class="col-lg-2">
                        <label>ВН/НН:</label>
                        <input type="text" class="form-control" id="vnnn" />
                    </div>
                    <div class="col-lg-2">
                        <label>Габариты блок-бокса:</label>
                        <input type="text" class="form-control" id="gbb" />
                    </div>
                    <div class="col-lg-2">
                        <label>Зарегестрирован:</label>
                        <input type="text" class="form-control" id="orderRegist" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Внесено ТЭО:</label>
                        <input type="text" class="form-control" id="teoRegist" disabled="disabled" />
                    </div>
                </div>
                <hr />
                <label>Планирование заказа</label>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Спланирован по КБМ:</label>
                        <input type="text" class="form-control" id="planKBM" />
                    </div>
                    <div class="col-lg-2">
                        <label>Спланирован по КБЭ:</label>
                        <input type="text" class="form-control" id="planKBE" />
                    </div>
                    <div class="col-lg-2">
                        <label>Получены прототипы КБМ:</label>
                        <input type="text" class="form-control" id="prototypeKBM" />
                    </div>
                    <div class="col-lg-2">
                        <label>Получены прототипы КБЭ:</label>
                        <input type="text" class="form-control" id="prototypeKBE" />
                    </div>
                    <div class="col-lg-2">
                        <label>Внесены прототипы КБМ:</label>
                        <input type="text" class="form-control" id="prototypeKBMComplited" />
                    </div>
                    <div class="col-lg-2">
                        <label>Внесены прототипы КБЭ:</label>
                        <input type="text" class="form-control" id="prototypeKBEComplited" />
                    </div>
                </div>
                <hr />
                <label>Прочее</label>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Получен договор:</label>
                        <input type="text" class="form-control" id="contractComplited" disabled="disabled" />
                    </div>
                </div>
                <hr />
                <label>Переписка</label>
                <div class="row">
                    <div class="col-lg-3">
                        <label>О начале производства:</label>
                        <input type="text" class="form-control" id="mailManuf" disabled="disabled" />
                    </div>
                    <div class="col-lg-3">
                        <label>О готовности к отгрузке:</label>
                        <input type="text" class="form-control" id="mailSh" disabled="disabled" />
                    </div>
                    <div class="col-lg-3">
                        <label>О прибытии:</label>
                        <input type="text" class="form-control" id="mailShComplited" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdatePM" onclick="updatePM();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-wide").on("show.bs.modal", function () {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });
</script>
<script>
    $(".chosen-select").chosen({
        placeholder_text_multiple: "Нажмите для выбора...",
        allow_single_deselect: true, disable_search_threshold: 5, width: "100%"
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#dateTN').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#dateSF').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#dateCMR').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datePost').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datePrihod').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#planKBM').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#planKBE').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#prototypeKBM').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#prototypeKBE').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#prototypeKBMComplited').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#prototypeKBEComplited').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>