@model Wiki.Debit_IstPost

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Транспортные издержки по заказу: @ViewBag.Order</h4>


    Валюта платежа
    @Html.DropDownList("currency", null, htmlAttributes: new { id = "currency", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })

    Транспорт экспедитора (сумма)
    @Html.EditorFor(model => model.transportSum, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.transportSum, "", new { @class = "text-danger" })

    Счет № транспорта
    @Html.EditorFor(model => model.numberOrder, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.numberOrder, "", new { @class = "text-danger" })

    НДС с суммы транспорта
    @Html.EditorFor(model => model.ndsSum, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.ndsSum, "", new { @class = "text-danger" })

    <hr />

    <input type="submit" value="Сохранить" class="btn btn-default" />

</div>
}