@model Wiki.Debit_IstPost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Debit_IstPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.transportSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transportSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ndsSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndsSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debit_WorkBit.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit_WorkBit.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
