@model IEnumerable<Wiki.Debit_IstPost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.transportSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ndsSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Debit_WorkBit.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.transportSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ndsSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Debit_WorkBit.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
