@model Wiki.OTK_ReclamationAnswer

@{
    ViewBag.Title = "EditKO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Редактировать</h2>
            <hr />
            <h5>Номер замечания: @ViewBag.Textid </h5>
            <h5>Дата и время создания: @ViewBag.TextdateCreate </h5>
            <h5>Номер заказа: @ViewBag.TextPlanZakaz </h5>
            <h5>Текст замечания: @ViewBag.TexttextReclamation </h5>
            <h5>Сотрудник написавший замечание: @ViewBag.TextCiliricalName </h5>
            <h4></h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.ReclamationId)
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.User)
            @Html.HiddenFor(model => model.Devision)
            @Html.HiddenFor(model => model.DateCreate)
            <hr />
            <label>Критерий ошибки</label>
            @Html.DropDownList("countError", null, htmlAttributes: new { @class = "form-control" })
            <h4></h4>
            <label>Ответ на замечание</label>
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @cols = 1400, @rows = 5 })
            <h4></h4>
            <label>Комментарий руководителя КБ</label>
            @Html.TextAreaFor(model => model.descriptionManagerKO, new { @class = "form-control", @cols = 1400, @rows = 5 })
            <h4></h4>
            <label>Ответсвенный за ошибку</label>
            @Html.DropDownList("userError", null, htmlAttributes: new { @class = "form-control" })
            <h1></h1>
            <input type="submit" value="Сохранить" class="btn btn-success" />
            @Html.ActionLink("Отменить", "Index", "ReclamationOTK", new { myDevision = ViewBag.myId }, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>









        @*@Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>
                                № Заказа:
                                @ViewBag.NumberOrder
                                @ViewBag.NameOrder
                            </h2>
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4></h4>
                            <h4>
                                Текст рекламации:
                                <br />
                                @ViewBag.TextReclamation
                            </h4>
                            <h4></h4>
                        </div>
                        <div class="col-sm-6">
                            <h4></h4>
                            @Html.HiddenFor(model => model.ReclamationId)
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.User)
                            @Html.HiddenFor(model => model.Devision)
                            @Html.HiddenFor(model => model.DateCreate)
                            <h5>Ответ</h5>
                            @Html.TextAreaFor(model => model.Text, new { @cols = 1400, @rows = 5 })
                            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                            <br />
                            Ответственный сотрудник
                            @Html.DropDownList("userError", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.userError, "", new { @class = "text-danger" })
                            <br />
                            Степень ошибки
                            @Html.DropDownList("countError", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.countError, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>



                <hr />
                <input type="submit" value="Сохранить" class="btn btn-success" />
                <span>
                    @Html.ActionLink("Отменить", "Index", "ReclamationOTK", new { myDevision = ViewBag.myId }, new { @class = "btn btn-danger" })
                </span>
            </div>*@
        }
