@model Wiki.Models.CMO.CMO_ReportList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />*@
    <link href="~/Content/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Scripts/bootstrap-table.min.css" rel="stylesheet" />
    <style>
        .container {
            width: 1600px;
        }

        th {
            background: #000080; /* Цвет фона строки заголовка */
            color: #ffe; /* Цвет текста */
            text-align: left; /* Выравнивание по левому краю */
            font-family: Arial, Helvetica, sans-serif; /* Выбор гарнитуры */
            font-size: 0.9em; /* Размер текста */
        }
    </style>
</head>
<h4>Заявки на заказ железа</h4>
<span>
    <input class="form-control" id="myInput" type="text" placeholder="Поиск...">
</span>
<br />
@{
    var tmp = 0;
    var DATAx = 0;
}
<div class="container">

    @if (Model.CMO_DefaultOrders.Count > 0)
    {
        <h5>Ожидается подтверждение дозаказа</h5>
        <table data-toggle="table">
            <thead>
                <tr>
                    <th> № заявки </th>
                    <th> Описание дозаказа </th>
                    <th> Подрядчик </th>
                    <th data-sortable="true"> Дата/время размещения </th>
                    <th> Excel </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model.CMO_DefaultOrders)
                {
                <tr class="something">
                    <td> @item.id.ToString() </td>
                    <td>
                        @foreach (var data in item.CMO_PositionOrder)
                        {
                            @data.PZ_PlanZakaz.PlanZakaz.ToString() <nobr>;   </nobr>
                        }
                    </td>
                    <td> @item.CMO_Company.name.ToString() </td>
                    <td> @item.dateCreate </td>
                    <td> <a href=@item.folder.ToString()>Excel</a> </td>
                </tr>
                }
            </tbody>
        </table>
        <hr />
    }

    <div class="table-responsive">
        <table data-toggle="table" class="table table-condensed">
            <thead>
                <tr style="text-align:center">
                    <th class="col-md-3"><h6 style="text-align:center">№ Заказа</h6></th>
                    <th class="col-md-1"><h6 style="text-align:center">Подрядчик</h6></th>
                    <th class="col-md-1"><h6 style="text-align:center">Первая цена, <wbr> б/НДС (BYN)</h6></th>
                    @*<th class="col-md-1"><h6 style="text-align:center">Вторая цена, <wbr> б/НДС (BYN)</h6></th>*@
                    <th class="col-md-1"><h6 style="text-align:center">Изг.,  <wbr> дн</h6></th>
                    <th class="col-md-1"><h6 style="text-align:center">Победитель</h6></th>
                    <th class="col-md-1"><h6 style="text-align:center">Стоимость, <wbr> б/НДС (BYN)</h6></th>
                    <th class="col-md-1"><h6 style="text-align:center">Дата размещения</h6></th>
                    <th class="col-md-1"><h6 style="text-align:center">Дата исполнения</h6></th>
                    <th class="col-md-1"><h6 style="text-align:center">Дата поступления</h6></th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model.CMO_Report)
                {
                    if (tmp < 4)
                    {
                        <tr class="active">
                            <td>
                                @if (tmp == 0)
                                {
                                    @item.PositionOrder
                                }
                                else
                                {
                                    <p style="color:#f5f5f5 !important;">
                                        @item.PositionOrder
                                    </p>
                                }
                            </td>
                            <td>
                                @try
                                {
                                    @item.CompanyName
                                }
                                catch
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @try
                                {
                                    <p style="text-align:right; margin:0; padding:0">@item.Cost_FT.Value.ToString("##,##", new System.Globalization.NumberFormatInfo() { NumberGroupSeparator = "  " })</p>
                                }
                                catch
                                {
                                    <p></p>}
                            </td>
                            @*<td>
                                @try
                                {
                                    <p style="text-align:right; margin:0; padding:0">
                                        @item.Cost_ST.Value.ToString("##,##", new System.Globalization.NumberFormatInfo() { NumberGroupSeparator = "  " })
                                    </p>
                                }
                                catch
                                {
                                    <p></p>}
                            </td>*@
                            <td>
                                @if (item.Day_ST == null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.Day_FT
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.Day_ST
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }

                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        @item.CompanyName
                                    }
                                    catch
                                    { <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:right; margin:0; padding:0">
                                            @item.Cost_WT.Value.ToString("##,##", new System.Globalization.NumberFormatInfo() { NumberGroupSeparator = "  " })
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.DateStartWork.ToString().Substring(0, 10)
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.PlanFinishWork2.ToString().Substring(0, 10)
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.FactFinishDate.ToString().Substring(0, 10)
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                        </tr>
                        tmp++;
                    }
                    else
                    {
                        <tr>
                            <td>
                                @if (DATAx == 0)
                                {
                                    <p>
                                        @item.PositionOrder
                                    </p>
                                }
                                else
                                {
                                    <p style="color:white !important;">
                                        @item.PositionOrder
                                    </p>
                                }
                            </td>
                            <td>
                                @try
                                {
                                    @item.CompanyName
                                }
                                catch
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @try
                                {
                                    <p style="text-align:right; margin:0; padding:0">@item.Cost_FT.Value.ToString("##,##", new System.Globalization.NumberFormatInfo() { NumberGroupSeparator = "  " })</p>
                                }
                                catch
                                {
                                    <p></p>}
                            </td>
                            @*<td>
                                @try
                                {
                                    <p style="text-align:right; margin:0; padding:0">
                                        @item.Cost_ST.Value.ToString("##,##", new System.Globalization.NumberFormatInfo() { NumberGroupSeparator = "  " })
                                    </p>
                                }
                                catch
                                {
                                    <p></p>}
                            </td>*@
                            <td>
                                @if (item.Day_ST == null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.Day_FT
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.Day_ST
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }

                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        @item.CompanyName
                                    }
                                    catch
                                    { <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:right; margin:0; padding:0">
                                            @item.Cost_WT.Value.ToString("##,##", new System.Globalization.NumberFormatInfo() { NumberGroupSeparator = "  " })
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.DateStartWork.ToString().Substring(0, 10)
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.PlanFinishWork2.ToString().Substring(0, 10)
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                            <td>
                                @if (item.Day_WT != null)
                                {
                                    try
                                    {
                                        <p style="text-align:center; margin:0; padding:0">
                                            @item.FactFinishDate.ToString().Substring(0, 10)
                                        </p>
                                    }
                                    catch
                                    {
                                        <p></p>}
                                }
                                else
                                {
                                    <p></p>
                                }
                            </td>
                        </tr>
                        DATAx++;
                        if (DATAx >= 4)
                        {
                            tmp = 0;
                            DATAx = 0;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>*@
<script src="~/Content/Scripts/bootstrap-table.min.js"></script>
<script src="~/Content/Scripts/jquery.min.js"></script>