@model IEnumerable<Wiki.CMO_Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<h4>Заявки на заказ железа</h4>
<br />
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jqueryTable">
    <thead>
        <tr style="text-align:center">
            <th class="col-md-3"><h6 style="text-align:center">№ Заказа</h6></th>
            <th class="col-md-1"><h6 style="text-align:center">Подрядчик</h6></th>
            <th class="col-md-1"><h6 style="text-align:center">Первая цена, <wbr> б/НДС (BYN)</h6></th>
            <th class="col-md-1"><h6 style="text-align:center">Изг.,  <wbr> дн</h6></th>
            <th class="col-md-1"><h6 style="text-align:center">Стоимость, <wbr> б/НДС (BYN)</h6></th>
            <th class="col-md-1"><h6 style="text-align:center">Дата размещения</h6></th>
            <th class="col-md-1"><h6 style="text-align:center">Дата исполнения</h6></th>
            <th class="col-md-1"><h6 style="text-align:center">Дата поступления</h6></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
        <tr>
            @if (item.CMO_Tender.Where(d => d.id_CMO_TypeTask == 2).Count() > 0)
            {
                <td>
                    @foreach (var position in item.CMO_PositionOrder.OrderBy(d => d.PZ_PlanZakaz.PlanZakaz).ToList())
                    {
                        @position.PZ_PlanZakaz.PlanZakaz <nobr>-</nobr> @position.CMO_TypeProduct.name <nobr><br /></nobr>;

                    }
                </td>
                <td>@item.CMO_Company.name</td>
                try
                {
                    <td>@item.CMO_Tender.Where(d => d.id_CMO_TypeTask == 2).First().CMO_UploadResult.First().cost</td>
                }
                catch
                {
                    <td></td>
                }

                <td></td>
                try
                {
                    <td>@item.CMO_Tender.Where(d => d.id_CMO_TypeTask == 3).First().CMO_UploadResult.First().cost</td>
                }
                catch
                {
                    <td></td>
                }
                <td></td>
                <td></td>
                <td></td>
            }

        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#jqueryTable').dataTable({
            "scrollY": '75vh',
            "scrollX": true,
            "paging": false,
            "info": false,
            "language": {
                "zeroRecords": "Отсутствуют записи",
                "infoEmpty": "Отсутствуют записи",
                "search": "Поиск"
            }
        });
    });
</script>

<script src="~/Content/Scripts/bootstrap-table.min.js"></script>
<script src="~/Content/Scripts/jquery.min.js"></script>