@model Wiki.Models.ElementsWorkDeskOS
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />
    <style>
        .container {
            width: 1600px;
        }
    </style>
</head>

<div class="container">
    <h4>Заказ железа у ЦМО</h4>
    <br />
    <input class="form-control" id="myInput" type="text" placeholder="Поиск...">
    <h2></h2>
    <a href="~/CMO2/Report" class="btn btn-primary" role="button">Сводная таблица</a>
    <h2></h2>
    <a href="~/CMO2/UploadTenderProtocol" class="btn btn-primary" role="button">Загрузить протокол</a>
    <h5></h5>
    <h5>Необходимо запустить торги</h5>
    <table data-toggle="table" class="table table-condensed">
        <thead>
            <tr>
                <th> Начать тендер </th>
                <th> Описание заявки </th>
                <th data-sortable="true"> Дата/время размещения </th>
                <th> Excel </th>
                <th> № заявки </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.ActiveOrder)
            {
                <tr>
                    <td> @Html.ActionLink("Начать", "StartTender", "CMO2", new { id = item.id }, null) </td>
                    <td> @foreach (var item2 in item.CMO_PositionOrder) {@item2.PZ_PlanZakaz.PlanZakaz <nobr> - </nobr> @item2.CMO_TypeProduct.name <nobr>;   </nobr>} </td>
                    <td> @Html.DisplayFor(modelItem => item.dateCreate) </td>
                    <td> <a href=@item.folder.ToString()>Excel</a> </td>
                    <td> @Html.DisplayFor(modelItem => item.id) </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <h5>Необходимо закрыть торги</h5>
    <table data-toggle="table" class="table table-condensed">
        <thead>
            <tr>
                <th> Описание заявки </th>
                <th data-sortable="true"> Дата/время размещения </th>
                <th> Excel </th>
                <th> № заявки </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.ActiveFirstUpload)
            {
                <tr>
                    <td>@foreach (var item2 in item.CMO_PositionOrder){@item2.PZ_PlanZakaz.PlanZakaz <nobr> - </nobr> @item2.CMO_TypeProduct.name <nobr>;   </nobr>} </td>
                    <td> @Html.DisplayFor(modelItem => item.dateCreate) </td>
                    <td> <a href=@item.folder.ToString()>Excel</a> </td>
                    <td> @Html.DisplayFor(modelItem => item.id) </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <h5>Поступление</h5>
    <table data-toggle="table" class="table table-condensed">
        <thead>
            <tr>
                <th> Начать тендер </th>
                <th> Описание заявки </th>
                <th> Подрядчик </th>
                <th> Ожидаемая дата поступления </th>
                <th data-sortable="true"> Дата/время размещения </th>
                <th> Excel </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.ActiveOrderClose)
            {
                <tr>
                    <td> @Html.ActionLink("Закрыть", "CloseOrder", "CMO", new { id = item.Id_Order }, null) </td>
                    <td> @item.PositionOrder.ToString() </td>
                    <td> @item.CompanyName.ToString() </td>
                    <td> @DateTime.Parse(Html.DisplayFor(modelItem => item.PlanFinishWork2).ToString()).ToShortDateString() </td>
                    <td> @DateTime.Parse(Html.DisplayFor(modelItem => item.DateStartWork).ToString()).ToShortDateString() </td>
                    <td> <a href=@item.folder.ToString()>Excel</a> </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>