@model Wiki.RKD_Order

<h2>Действительно ли пришло согласование РКД?</h2>

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.id_PZ_PlanZakaz)
    @Html.HiddenFor(model => model.id_RKD_Institute)
    @Html.HiddenFor(model => model.datePlanCritical)
    <p><input type="submit" value="Да" class="btn btn-success" /></p>
    @Html.ActionLink("Нет", "Index", null, new { @class = "btn btn-danger" })
}