@model Wiki.Models.RKD_AllView
@{
    ViewBag.Title = "StartFirstTender";
    Layout = "~/Views/Shared/_LayoutRKD.cshtml";
}
<head>
    <link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table>
                @if (@ViewBag.PredcwssorOrderLink > 0)
                {
                    <tr style="vertical-align: top;">
                        @try
                        {
                            @Html.ActionLink("Предыдущий заказ", "OpenOrder", "RKD", new { idOrder = @ViewBag.PredcwssorOrderLink }, null)
                        }
                        catch
                        {

                        }
                    </tr>
                }
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @if (@ViewBag.PoslOrderLink > 0)
                {
                    <tr style="vertical-align: top;">
                        @try
                        {
                            @Html.ActionLink("Следующий заказ", "OpenOrder", "RKD", new { idOrder = @ViewBag.PoslOrderLink }, null)
                        }
                        catch
                        {

                        }
                    </tr>
                }
            </table>
            <hr />
            <h4>№ заказа: @ViewBag.PlanZakaz | СОГЛАСОВАН </h4>
            <h5>Заказчик: @ViewBag.Client</h5>
            <h5>Проектный институт: @ViewBag.Inst</h5>
            <h5>Наименование заказа (контрактное): @ViewBag.PlanZakazName</h5>
            <br />
            @Html.ActionLink("Добавить запись", "CreateNewDespatching", "RKD", new { idOrder = ViewBag.idOrder }, new { @class = "viewDialog", data_dialog_title = "Внесите данные обсуждения" })
            <hr />
            <h4>Диспетчеризация</h4>
            <table class="table table-hover" style="width:1000px">
                <thead>
                    <tr>
                        <th> Дата </th>
                        <th> Заказ </th>
                        <th> Описание </th>
                        <th> ФИО </th>
                        <th> Срок </th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in ViewBag.Despatching)
                    {

                        if (item.TypeTask == 0)
                        {
                            <tr>
                                <td> @item.DateEvent.ToString().Substring(0, 16) </td>
                                <td> @item.PlanZakazName </td>
                                <td> @item.TextData </td>
                                <td> @item.UserID </td>
                                <td> @item.TaskFinishDate </td>
                            </tr>
                        }
                        else if (item.TypeTask == 100)
                        {
                            <tr>
                                <td class="warning"> @item.DateEvent.ToString().Substring(0, 16) </td>
                                <td class="warning"> @item.PlanZakazName </td>
                                <td class="warning"> @item.TextData </td>
                                <td class="warning"> @item.UserID </td>
                                <td class="warning"> @item.TaskFinishDate </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="active"> @item.DateEvent.ToString().Substring(0, 16) </td>
                                <td class="active"> @item.PlanZakazName </td>
                                <td class="active"> @item.TextData </td>
                                <td class="active"> @item.UserID </td>
                                <td class="active"> @item.TaskFinishDate </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (ViewBag.CloseQuestion.Count > 0)
            {
                <h4>Закрытые вопросы</h4>
                <table class="table table-hover" style="width:1000px">
                    <thead>
                        <tr>
                            <th> № вопроса </th>
                            <th> № заказа </th>
                            <th> Вопрос </th>
                            <th> Ход обсуждения </th>
                            <th data-sortable="true"> Дата/время создания </th>
                            <th> Сотрудник создавший вопрос </th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var item in ViewBag.CloseQuestion)
                        {
                            <tr>
                                <td> @item.id </td>
                                <td> @item.RKD_Order.PZ_PlanZakaz.PlanZakaz </td>
                                <td> @item.textQuestion </td>
                                <td>
                                    @try
                                    {
                                        foreach (var item2 in item.RKD_QuestionData)
                                        {
                                            @item2.AspNetUsers.CiliricalName
                                            <nobr>: </nobr>
                                            @item2.textData
                                            <br />
                                        }
                                    }
                                    catch
                                    {
                                        <p></p>
                                    }
                                </td>
                                <td> @item.dateUpload </td>
                                <td> @item.AspNetUsers.CiliricalName </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr />
            }
        </div>
        <div class="col-sm-1"></div>
    </div>    


<script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                $.ajaxSetup({ cache: false });
                $(".viewDialog").on("click", function (e) {
                    e.preventDefault();
                    $("<div></div>")
                        .addClass("dialog")
                        .appendTo("body")
                        .dialog({
                            title: $(this).attr("data-dialog-title"),
                            close: function () { $(this).remove() },
                            width: 1000,
                            height: 550,
                            modal: true
                        })
                        .load(this.href);
                });
            });
        </script>
</body>