@model Wiki.Models.ViewRKD
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRKD.cshtml";
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />
    <style>
        .container {
            width: 1600px;
        }

        th {
            background: #000080; /* Цвет фона строки заголовка */
            color: #ffe; /* Цвет текста */
            text-align: left; /* Выравнивание по левому краю */
            font-family: Arial, Helvetica, sans-serif; /* Выбор гарнитуры */
            font-size: 0.9em; /* Размер текста */
        }
    </style>
</head>
<div class="container">
    <a href=@ViewBag.linkToExcel class="btn-xs btn-success" role="button">to Excel (полная)</a>
    <table data-toggle="table" data-height="750">
        <thead>
            <tr class="something">
                <th class="col-md-1">См.</th>
                <th class="col-md-1">Ред.</th>
                <th data-sortable="true" class="col-md-1">№ заказа</th>
                <th data-sortable="true" class="col-md-6">Состояние согласования</th>
                <th data-sortable="true" class="col-md-4">ГИП КБМ</th>
                <th data-sortable="true" class="col-md-4">ГИП КБЭ</th>
                <th data-sortable="true" class="col-md-4">Заказчик</th>
                <th class="col-md-2">Дата открытия</th>
                <th class="col-md-2">Контрактная дата</th>
                <th class="col-md-2">Текущая версия</th>
                <th class="col-md-3">Срок решения</th>
                <th class="col-md-3">Крайний срок</th>
                <th class="col-md-1">Откл</th>
                <th class="col-md-1">Папка</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.ActiveOrder)
            {
                <tr>
                    <td class="col-md-1">@Html.ActionLink("См.", "Details", "RKD", new { id = item.id }, null) </td>
                    @if (@ViewBag.devision == @item.PZ_PlanZakaz.RKD_Order.First().RKD_Version.Where(d => d.activeVersion).First().RKD_VersionWork.devision || @ViewBag.devision == 13)
                    {
                        <td class="col-md-1 warning" text-align="center">@Html.ActionLink("►", "OpenOrder", "RKD", new { idOrder = item.id }, null) </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td class="col-md-1">@Html.DisplayFor(modelItem => item.PZ_PlanZakaz.PlanZakaz)</td>
                    <td class="col-md-6">@item.PZ_PlanZakaz.RKD_Order.First().RKD_Version.Where(d => d.activeVersion).First().RKD_VersionWork.name.ToString()</td>
                    <td class="col-md-4">
                        @try
                        {
                            @Html.DisplayFor(modelItem => item.RKD_GIP.First().AspNetUsers1.CiliricalName)
                        }
                        catch { }
                    </td>
                    <td class="col-md-4">
                        @try
                        {
                            @Html.DisplayFor(modelItem => item.RKD_GIP.First().AspNetUsers.CiliricalName)
                        }
                        catch { }

                    </td>

                    <td class="col-md-4">@Html.DisplayFor(modelItem => item.PZ_PlanZakaz.PZ_Client.NameSort)</td>
                    <td class="col-md-2">@DateTime.Parse(Html.DisplayFor(modelItem => item.PZ_PlanZakaz.DateCreate).ToString()).ToShortDateString()</td>
                    <td class="col-md-2">@DateTime.Parse(Html.DisplayFor(modelItem => item.PZ_PlanZakaz.DateShipping).ToString()).ToShortDateString()</td>
                    <td class="col-md-2">
                        V.@item.PZ_PlanZakaz.RKD_Order.First().RKD_Version.Where(d => d.activeVersion).First().numberVersion1.ToString()<nobr>.</nobr>@item.PZ_PlanZakaz.RKD_Order.First().RKD_Version.Where(d => d.activeVersion).First().numberVersion2.ToString()
                    </td>


                    <td class="col-md-3">
                        @try
                        {
                            @item.PZ_PlanZakaz.RKD_Order.First().RKD_Version.Where(d => d.activeVersion).First().planFinishDate.ToString().Substring(0, 10)
                        }
                        catch
                        {

                        }

                    </td>
                    <td class="col-md-3">@item.PZ_PlanZakaz.RKD_Order.First().datePlanCritical.ToString().Substring(0, 10)</td>
                    @try
                    {
                        if (item.PZ_PlanZakaz.RKD_Order.First().RKD_Version.Where(d => d.activeVersion).First().RKD_TaskVersion.Max(d => d.finishDate) > item.PZ_PlanZakaz.RKD_Order.First().datePlanCritical)
                        {
                            <td class="col-md-1, danger"></td>
                        }
                        else
                        {
                            <td class="col-md-1"></td>
                        }
                    }
                    catch
                    {
                        <td class="col-md-1"></td>
                    }
                    @try
                    {
                        <td class="col-md-2">
                            <a href=@item.PZ_PlanZakaz.Folder.ToString()>Папка</a>
                        </td>
                    }
                    catch
                    {

                        <td class="col-md-1"></td>
                    }

                </tr>
            }
        </tbody>
    </table>
    <hr />
    @if (ViewBag.ActiveQuestion != null)
    {
        <h4> Активные вопросы </h4>
        <table class="table table-hover" style="width:1000px">
            <thead>
                <tr>
                    <th> Вопрос/ответ </th>
                    <th> № вопроса </th>
                    <th> № заказа </th>
                    <th> Вопрос </th>
                    <th> Ход обсуждения </th>
                    <th data-sortable="true"> Дата/время создания </th>
                    <th> Сотрудник создавший вопрос </th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in ViewBag.ActiveQuestion)
                {
                    <tr>
                        <td> @Html.ActionLink("Вопрос/ответ", "UpdateQuestion", "RKD", new { id = item.id }, null) </td>
                        <td> @item.id </td>
                        <td> @item.RKD_Order.PZ_PlanZakaz.PlanZakaz </td>
                        <td> @item.textQuestion </td>
                        <td>
                            @try
                            {
                                foreach (var item2 in item.RKD_QuestionData)
                                {
                                    @item2.AspNetUsers.CiliricalName <nobr>: </nobr> @item2.textData <br />
                                }
                            }
                            catch
                            {
                                <p></p>
                            }
                        </td>
                        <td> @item.dateUpload </td>
                        <td> @item.AspNetUsers.CiliricalName </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
    }
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $('table').tfh({
        trigger: 0,
        top: 0
    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>