@model Wiki.RKD_Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutRKD.cshtml";
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />
    <style>
        .container {
            width: 1600px;
        }
    </style>
</head>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2>Задать вопрос по РКД</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div style="width:1400px;">
                <br />
                <p>№ заказа: @ViewBag.PlanZakaz</p>

                <p>Вопрос: @ViewBag.QueText</p>
                <hr />
                <h4>Ход обсуждения вопроса</h4>
                <table data-toggle="table">
                    <thead>
                    <tr>
                        <th> Дата </th>
                        <th> Сотрудник </th>
                        <th> Информация </th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    @foreach (var item in @ViewBag.ListQuestion)
                    {
                        <tr>
                            <td> @item.dateUpload </td>
                            <td> @item.AspNetUsers.CiliricalName </td>
                            <td> @item.textData </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <br />
                @Html.ActionLink("Закрыть вопрос", "CloseQuestion", new { id = ViewBag.idQue }, new { @class = "btn btn-primary" })

                <hr />
                <p>Вопрос/ответ: </p>
                @Html.TextAreaFor(model => model.textQuestion, new { @class = "form-control", style = "height:250px;" })

                <br />
                <input type="submit" value="Отправить" class="btn btn-info" />


            </div>
        }

        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    </div>
    <div class="col-sm-1"></div>
</div>
