@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ApproveCD/Views/Shared/_LayoutApproveCD.cshtml";
}

    <head>
        <link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
        <script src="~/Content/Chosen/chosen.jquery.min.js"></script>
        <link href="~/Content/DataTables/buttons.dataTables.min.css" rel="stylesheet" />
        <script src="~/Content/DataTables/dataTables.buttons.min.js"></script>
        <script src="~/Content/DataTables/jszip.min.js"></script>
        <script src="~/Content/DataTables/pdfmake.min.js"></script>
        <script src="~/Content/DataTables/buttons.html5.min.js"></script>
        <script src="~/Content/globalScript.js?v1.0"></script>
        <script src="~/Areas/ApproveCD/Content/ApproveCD.js?v1.7"></script>
        <style>
            th.dt-invisible-column {
                border: 0 !important;
                padding: 0 !important;
            }

            .modal.modal-wide .modal-dialog {
                width: 90%;
            }

            .modal-wide .modal-body {
                overflow-y: auto;
            }

            .colu-200 {
                min-width: 200px;
            }

            .colu-300 {
                min-width: 300px;
            }
            .highlightColor {
                font-weight: bold
            }
            .xhighlightColor {
                font-weight: bold;
                background-color: #ffc7ce;
            }
        </style>
    </head>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn-xs btn-primary" id="BtnAddOrders" data-toggle="modal" data-target="#NewOrdersModal" onclick="ClearNewOrdersFields();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <label id="labelOrdersTable"></label>
        <br />
        <br />
        <table id="ordersTable" class="table table-hover table-striped" style="width:100%;"></table>
        <hr />
        <button type="button" class="btn-xs btn-primary" id="BtnAddQuestion" data-toggle="modal" data-target="#QuestionModal" onclick="ClearNewQuestionField();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <label id="labelQuestionsTable"></label>
        <table id="questionsTable" class="table table-hover table-striped" style="width:100%;"></table>
        <hr />
        <button type="button" class="btn-xs btn-primary" id="BtnAddTask" data-toggle="modal" data-target="#TaskModal" onclick="ClearNewTaskField();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <label id="labelActionsTable"></label>
        <table id="tasksTable" class="table table-hover table-striped" style="width:100%;"></table>
        <hr />
    </div>
</div>

<div id="NewOrdersModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>План-Заказ/ы №№:</label>
                        @Html.ListBox("NewOrders", ViewBag.NewOrders as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" id="btnAddNewOrders" onclick="AddOrders();">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="QuestionModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>№ заказа:</label>
                        @Html.DropDownList("OrdersForQuestion", ViewBag.OrdersForQuestion as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Вопрос:</label>
                        <textarea rows="10" id="question" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" id="btnAddNewOrders" onclick="AddQuestion();">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TaskModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>№ заказа:</label>
                        @Html.DropDownList("OrdersForTask", ViewBag.OrdersForTask as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        <label>Ответственный исполнитель:</label>
                        @Html.DropDownList("ASPUsers", ViewBag.ASPUsers as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Крайний срок:</label>
                        <input type="text" class="form-control" id="deadline" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Описание:</label>
                        <textarea rows="10" id="taskData" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        </div>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" id="btnAddNewOrders" onclick="AddTask();">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="UQuestionModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Ид. вопроса:</label>
                        <input type="text" class="form-control" id="idQue" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>№ заказа:</label>
                        <input type="text" class="form-control" id="orderQue" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Создан:</label>
                        <input type="text" class="form-control" id="dateCreateQue" disabled="disabled" />
                    </div>
                    <div class="col-lg-4">
                        <label>Автор:</label>
                        <input type="text" class="form-control" id="autorQue" disabled="disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Вопрос:</label>
                        <textarea rows="7" id="questionTextU" class="form-control" disabled="disabled"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Ход обсуждения:</label>
                        <textarea rows="7" id="histQue" class="form-control" disabled="disabled"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Комментарий:</label>
                        <textarea rows="7" id="commitQue" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        </div>
                        <div class="col-lg-7"></div>
                        <div class="col-lg-3">
                            <button type="button" class="btn btn-success" id="btnCloseQue" onclick="CloseQuestion();">Закрыть вопрос</button>
                            <button type="button" class="btn btn-primary" id="btnUpdateQue" onclick="UpdateQuestion();">Добавить комментарий</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="UOrderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" id="hideIdOrder">
                    <div class="col-lg-12">
                        <input type="text" class="form-control" id="loadVer" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea rows="6" id="descriptionOrder" class="form-control" disabled="disabled"></textarea>
                    </div>
                </div>
                <hr />
                <div class="row" id="loadVerDiv">
                    <div class="col-lg-12">
                        <label>Отправить РКД на согласование в ТП: </label>
                    </div>
                    <div class="col-lg-1">
                        <label>Версия РКД: </label>
                        <input type="text" class="form-control" id="numVerCD" />
                    </div>
                    <div class="col-lg-11">
                        <label>Ссылка:</label>
                        <input type="text" class="form-control" id="linkKD" />
                    </div>
                    <div class="col-lg-12">
                        <hr />
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" onclick="UpdateOrderLoadVer();">Отправить в ТП</button>
                    </div>
                </div>
                <div class="row" id="ectionTS">
                    <div class="col-lg-12">
                        <label>Получены данные от КО:</label>
                    </div>
                    <div class="col-lg-12">
                        <textarea rows="7" id="commitTSToKO" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <hr />
                        <button type="button" class="btn btn-danger" onclick="UpdateOrderGetTSToKOUpdate();">Отправить на доработку в КО</button>
                        <button type="button" class="btn btn-success" onclick="UpdateOrderGetTSToKOComplited();">РКД отправлено Заказчику</button>
                    </div>
                </div>
                <div class="row" id="getCustomer">
                    <div class="col-lg-12">
                        <label>Получен ответ от Заказчика:</label>
                    </div>
                    <div class="col-lg-12">
                        <textarea rows="7" id="commitTS" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <hr />
                        <button type="button" class="btn btn-danger" onclick="UpdateOrderGetCustomerUpdate();">Получены замечания</button>
                        <button type="button" class="btn btn-success" onclick="UpdateOrderGetCustomerComplited();">РКД согласовано</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label></label>
                        <table id="questionsTableById" class="table table-hover table-striped" style="width:100%;"></table>
                        <label></label>
                        <table id="tasksTableById" class="table table-hover table-striped" style="width:100%;"></table>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <label>События: </label>
                        <table id="concretTaskTable" class="table table-hover table-striped" style="width:100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var leavelUser = @ViewBag.LeavelUser;
</script>
<script>
    $(".modal-wide").on("show.bs.modal", function () {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });
</script>
<script>
    $(".chosen-select").chosen({
        placeholder_text_multiple: "Нажмите для выбора...",
        allow_single_deselect: true, disable_search_threshold: 5, width: "100%"
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#deadline').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>