@model Wiki.Debit_Platform

@{
    ViewBag.Title = "Debit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Внесение данных по платформам</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.id_PlanZakaz)

                Масса
                @Html.EditorFor(model => model.massa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.massa, "", new { @class = "text-danger" })
                <br />
                Количество платформ
                @Html.EditorFor(model => model.countPlatform, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.countPlatform, "", new { @class = "text-danger" })
                <br />
                Номера платформ
                @Html.EditorFor(model => model.numPlatform, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numPlatform, "", new { @class = "text-danger" })
                <br />
                Габариты
                @Html.EditorFor(model => model.gabar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gabar, "", new { @class = "text-danger" })
                <hr />
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}
