@model IEnumerable<Wiki.Debit_Platform>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Отгрузочный лист</h2>


<table class="table">
    <tr>
        <th>
            Заказ
        </th>
        <th>
            Вес, кг
        </th>
        <th>
            Количество платформ
        </th>
        <th>
            Номера платформ
        </th>
        <th>
            Номера пломб
        </th>
        <th>
            Габариты
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PZ_PlanZakaz.PlanZakaz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.massa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.countPlatform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numPlatform)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numPlomb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gabar)
        </td>
        <td>
            @Html.ActionLink("Ред.", "Edit", new { id=item.id })
        </td>
    </tr>
}

</table>
