@model Wiki.Debit_CostUpdate
@{
    ViewBag.Title = "NewPlus";
    Layout = "~/Areas/Deb/Views/Shared/_LayoutDeb.cshtml";
}
<body>
    <div class=" container">

        <div class="col-sm-6">
            <h3>№ заказа: @ViewBag.PlanZakaz</h3>
            <hr />
            <h5>Отпускная цена (с НДС): @ViewBag.CostNDS</h5>
            <h5>Отпускная цена (без НДС): @ViewBag.Cost</h5>
            <h5>Сумма НДС: @ViewBag.NDS</h5>
            <h5>Валюта платежа: @ViewBag.Curency</h5>
        </div>
        <div class="col-sm-6">
            <h3>&nbsp;</h3>
            <hr />
            <h5>&nbsp;</h5>
            <h5>&nbsp;</h5>
            <div>
                <h5>Получено: @ViewBag.GetCost</h5>
                <h5>Ожидание: @ViewBag.PostCost</h5>
            </div>
        </div>
    </div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.id_PZ_PlanZakaz)
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="col-sm-6">
                Дата поступления
                @Html.EditorFor(model => model.dateGetMoney, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateGetMoney, "", new { @class = "text-danger" })
                <br />
                Полученая суммма
                @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                <hr />
                <input type="submit" value="Сохранить" class="btn btn-success" />
                @Html.ActionLink("Отменить", "Index", "Upload", null, new { @class = "btn btn-danger" })
                <hr />
                <h5>История поступлений</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Дата внесения</th>
                            <th>Дата поступления</th>
                            <th>Сумма</th>
                            <th><span class="glyphicon glyphicon-pencil"></span></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var person in ViewBag.listCost)
                        {
                            <tr>
                                <td>@person.dateCreate.ToString().Substring(0, 10)</td>
                                @try
                                {
                                    <td>@person.dateGetMoney.ToString().Substring(0, 10)</td>
                                }
                                catch
                                {
                                    <td></td>
                                }
                                <td>@person.cost.ToString("N", new System.Globalization.CultureInfo("en-US", false).NumberFormat)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <hr />
    <script type="text/javascript">
        $(function () {
            $('#dateGetMoney').datetimepicker({
                locale: 'ru',
                format: 'L',
                calendarWeeks: true,
                showTodayButton: true
            });
        });
    </script>
</body>
