@model Wiki.Debit_CostUpdate
@{
    ViewBag.Title = "NewPlus";
    Layout = "~/Areas/Deb/Views/Shared/_LayoutDeb.cshtml";
}
<head>
    <script src="~/Areas/Deb/Contant/NewPlus.js"></script>
    <style>
        .modal.modal-wide .modal-dialog {
            width: 90%;
        }

        .modal-wide .modal-body {
            overflow-y: auto;
        }

        .colu-200 {
            min-width: 200px;
        }

        .colu-300 {
            min-width: 300px;
        }
    </style>
</head>
<body>
    <div class=" container">
        <div class="col-sm-6">
            <h3>№ заказа: @ViewBag.PlanZakaz</h3>
            <hr />
            <h5>Отпускная цена (с НДС): @ViewBag.CostNDS</h5>
            <h5>Отпускная цена (без НДС): @ViewBag.Cost</h5>
            <h5>Сумма НДС: @ViewBag.NDS</h5>
            <h5>Валюта платежа: @ViewBag.Curency</h5>
        </div>
        <div class="col-sm-6">
            <h3>&nbsp;</h3>
            <hr />
            <h5>&nbsp;</h5>
            <h5>&nbsp;</h5>
            <div>
                <h5>Получено: @ViewBag.GetCost</h5>
                <h5>Ожидание: @ViewBag.PostCost</h5>
            </div>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.id_PZ_PlanZakaz)
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="col-sm-6">
                Дата поступления
                @Html.EditorFor(model => model.dateGetMoney, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                Полученая суммма
                @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                <hr />
                <input type="submit" value="Сохранить" class="btn btn-success" />
                @Html.ActionLink("Отменить", "Index", "Upload", null, new { @class = "btn btn-danger" })
                <hr />
                <h5>История поступлений</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Дата внесения</th>
                            <th>Дата поступления</th>
                            <th>Сумма</th>
                            <th><span class="glyphicon glyphicon-pencil"></span></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var person in ViewBag.listCost)
                        {
                            <tr>
                                <td>@person.dateCreate.ToString().Substring(0, 10)</td>
                                <td>@person.dateGetMoney.ToString().Substring(0, 10)</td>
                                <td>@person.cost.ToString("N", new System.Globalization.CultureInfo("en-US", false).NumberFormat)</td>
                                <td><a href="#" onclick="return getbyID(' @person.id ')"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <hr />
</body>
<div id="editUploadCost" class="modal modal-wide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        @Html.HiddenFor(d => d.id)
                        Дата поступления
                        @Html.EditorFor(model => model.dateGetMoney, new { htmlAttributes = new { @class = "form-control" } })
                        <br />
                        Полученая суммма
                        @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Обновить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#dateGetMoney').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>