
@{
    ViewBag.Title = "PostUploadAlertShipClose";
}
<h3>Выберите файл для загрузки</h3>
@using (Html.BeginForm("PostUploadAlertShipClose", "UploadDocument", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h5>Укажите заказы по которым направляете уведомление о приходе грузов</h5>
    <hr />
    <h4>Введите №заказа/ов</h4>
    @Html.ListBox("PlanZakaz", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
    <br />
    <h4>Введите номер письма</h4>
    <br />
    @Html.TextBox("myClientConArr", null, new { myClientConArr = "myClientConArr" })
    <h4>Введите дату письма</h4>
    <br />
    @Html.TextBox("DateSupply", null, new { DateSupply = "DateSupply" })
    <hr />
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}
<script src="@Url.Content("~/Content/Chosen/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Chosen/chosen.css")" rel="stylesheet" type="text/css" />

<script>
    $(".chosen-select").chosen({ allow_single_deselect: true, disable_search_threshold: 5, width: "100%" });
</script>

<script type="text/javascript">
    $(function () {
        $('#DateSupply').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>