@model Wiki.Reclamation
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CMKO/Views/Shared/_LayoutCMKO.cshtml";
}
    <head>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="~/Content/Highcharts/highcharts.js"></script>
        <script src="~/Content/Highcharts/highcharts-more.js"></script>
        <script src="~/Content/Highcharts/exporting.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/bullet.js"></script>
        <script src="~/Content/jquery.cookie.js"></script>
        <script src="~/Areas/CMKO/Content/cmko.js?v1.1"></script>
        <link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
        <script src="~/Content/Chosen/chosen.jquery.min.js"></script>
        <style>
            th.dt-invisible-column {
                border: 0 !important;
                padding: 0 !important;
            }

            .modal.modal-wide .modal-dialog {
                width: 90%;
            }

            .modal-wide .modal-body {
                overflow-y: auto;
            }

            .colu-200 {
                min-width: 200px;
            }

            .colu-300 {
                min-width: 300px;
            }

            hr.standart {
                border: 1px solid #717171;
            }
        </style>
    </head>

<div id="dashboardBody">
    <div class="row" id="divPeriodReportTitle">
        <div class="col-lg-11">
            <h5 id="periodReportString" style="font-weight: bold; color: #717171"></h5>
            <h5 style="font-weight: bold; color: #717171">* для PWA рекомендован браузер Chrome (IE лучше не использовать)</h5>
        </div>
        <div class="col-lg-1">
            <h5 id="bg_color" style="color: white"></h5>
        </div>
    </div>
    <hr class="standart">
    <div class="row" id="summaryDivForManager">
        <div class="row" id="summaryDivTitle">
            <div class="col-lg-12">
                <h5 style="font-weight: bold; color: #717171; text-align: center">Суммарные показатели</h5>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="summaryWageFundWorker" style="max-width: 800px; height: 200px; margin: 0 auto;"></div>
        </div>
        <div id="hideSummaryData">
            <div class="col-lg-2">
                <div id="summaryWageFundManager" style="max-width: 800px; height: 200px; margin: 0 auto;"></div>
            </div>
            <div class="col-lg-2">
                <div id="summaryWageFundG" style="max-width: 800px; height: 200px; margin: 0 auto;"></div>
            </div>
            <div class="col-lg-2">
                <div id="remainingBonus" style="max-width: 800px; height: 200px; margin: 0 auto;"></div>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="withheldToBonusFund" style="max-width: 800px; height: 200px; margin: 0 auto;"></div>
        </div>
        <div class="col-lg-2">
            <div id="overflowsBujet" style="max-width: 800px; height: 200px; margin: 0 auto;"></div>
        </div>
    </div>
    <hr class="standart">
    <div class="row" id="accuredDiv">
        <div class="col-lg-6">
            <div id="nhUsersThisQua" style="max-width: 800px;  height: 400px; margin: 0 auto;"></div>
        </div>
        <div class="col-lg-6">
            <div id="timesheetContainer"></div>
        </div>
    </div>
    <hr class="standart">
    <div class="row" id="hss">
        <div class="col-lg-4">
            <div id="hssKBM" style="margin: 0 auto"></div>
        </div>
        <div class="col-lg-4">
            <div id="hssKBE" style="margin: 0 auto"></div>
        </div>
        <div class="col-lg-4">
            <div id="hssPO" style="margin: 0 auto"></div>
        </div>
    </div>
    <hr class="standart">
    <div class="row" id="divAccuredUsers">
        <div class="col-lg-6">
            <div id="usersAccuredPlan" style="max-width: 800px;  margin: 0 auto;"></div>
            <h5 id="textUserAccuredPlan" style="font-weight: bold; text-align:center; color: #FF4500"></h5>
        </div>
        <div class="col-lg-6">
            <div id="usersAccuredFact" style="max-width: 800px;  margin: 0 auto;"></div>
            <h5 id="textAccuredUserFact" style="font-weight: bold; text-align:center; color: #FF4500"></h5>
        </div>
    </div>
    <hr class="standart">
    <div class="row">
        <div class="col-lg-12"><h5 style="font-weight: bold; text-align:center; color: #717171">Выработка НЧ</h5></div>
    </div>
    <div class="row">
        <div class="col-lg-4"><h5 id="textNamePeriod1" style="font-weight: bold; text-align:center; color: #717171"></h5></div>
        <div class="col-lg-4"><h5 id="textNamePeriod2" style="font-weight: bold; text-align:center; color: #717171"></h5></div>
        <div class="col-lg-4"><h5 id="textNamePeriod3" style="font-weight: bold; text-align:center; color: #717171"></h5></div>
    </div>
    <div id="speedWorkers1">
        <div class="row" id="speed1" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-1" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-1" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-1" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed2" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-2" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-2" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-2" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed3" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-3" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-3" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-3" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed8" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-8" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-8" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-8" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed9" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-9" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-9" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-9" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed10" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-10" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-10" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-10" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed4" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-4" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-4" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-4" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed11" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-11" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-11" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-11" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed12" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-12" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-12" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-12" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed5" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-5" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-5" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-5" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed6" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-6" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-6" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-6" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed16" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-16" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-16" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-16" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed13" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-13" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-13" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-13" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed14" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-14" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-14" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-14" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed7" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-7" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-7" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-7" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
        <div class="row" id="speed15" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <div class="col-lg-4">
                <div id="container1-15" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container2-15" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="container3-15" style="height: 68px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"></div>
            </div>
        </div>
    </div>
    <hr class="standart">
    <div class="row">
        <div id="hideAccuredG">
            <div class="col-lg-6">
                <div id="accruedG" style="max-width: 800px;  height: 400px; margin: 0 auto;"></div>
            </div>
        </div>
    </div>
    <div id="hideAccuredStandart">
        <hr class="standart">
    </div>
    <div class="row" id="divCoef">
        <div class="col-lg-6">
            <div id="coefWorker" style="max-width: 800px;  height: 450px; margin: 0 auto;"></div>
        </div>
        <div class="col-lg-6">
            <div id="coefWorkerG" style="max-width: 800px;  height: 450px; margin: 0 auto;"></div>
        </div>
    </div>
    <hr class="standart">
    <div id="speedDevisionForManager">
        <div class="row">
            <div class="col-lg-12">
                <h5 style="font-weight: bold; text-align: center; color: #717171">Оставшиеся тр-ты сотрудников КБМ</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="remainingWorkAll" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
            </div>
            <div class="col-lg-6">
                <div id="remainingWork" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h5 style="font-weight: bold; text-align: center; color: #717171">Оставшиеся тр-ты сотрудников КБЭ</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="remainingWorkAllE" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
            </div>
            <div class="col-lg-6">
                <div id="remainingWorkE" style="max-height: 250px; height: 250px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h5 style="font-weight: bold; text-align: center; color: #717171">Оставшиеся тр-ты бюро</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="remainingWorkDevisionAll" style="max-height: 130px; height: 130px; margin: 0 auto"></div>
            </div>
            <div class="col-lg-6">
                <div id="remainingWorkDevision" style="max-height: 130px; height: 130px; margin: 0 auto"></div>
            </div>
        </div>
        <hr class="standart">
    </div>
</div>


<div id="optimizationDiv">
    <button type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#optimizationModal" onclick="ClearOptimization();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <table id="optimizationTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="teachDiv">
    <button type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#teachModal" onclick="ClearTeach();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <table id="teachTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="usersDiv">
    <table id="usersTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="categoryDiv">
    <button type="button" class="btn-xs btn-primary" onclick="ClearCategory();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <table id="categoryTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="periodsDiv">
    <button type="button" class="btn-xs btn-primary" onclick="ClearPeriod();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <table id="periodsTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="calendDiv">
    <button type="button" class="btn-xs btn-primary" onclick="ClearCalend();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <table id="calendTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="curencyDiv">
    <table id="cyrencyTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>
<div id="speedUsersDiv">
    <table id="speedUsersTable" class="table table-hover table-striped" style="width:100%;"></table>
</div>

<div id="optimizationModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idOptimization" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Создано:</label>
                        <input type="text" class="form-control" id="userCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата/время создания:</label>
                        <input type="text" class="form-control" id="dateCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Автор идеи:</label>
                        @Html.DropDownList("autor", ViewBag.autor as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Период начисления:</label>
                        @Html.DropDownList("period", ViewBag.period as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <label>Описание предложения:</label>
                        <textarea rows="10" id="textData" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddOptimization" style="display:none;" onclick="AddOptimization();">Сохранить</button>
                        <button type="button" class="btn btn-danger" id="btnRemoveOptimization" style="display:none;" onclick="RemoveOptimization();">Удалить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateOptimization" style="display:none;" onclick="UpdateOptimization();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="teachModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idTeach" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Учитель:</label>
                        @Html.DropDownList("teacherTeach", ViewBag.teacherTeach as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Обучаемый:</label>
                        @Html.DropDownList("studentTeach", ViewBag.studentTeach as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Период начисления:</label>
                        @Html.DropDownList("periodTeach", ViewBag.periodTeach as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Начисления (BYN):</label>
                        <input type="text" class="form-control" id="costTeach" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <label>Прим.:</label>
                        <textarea rows="5" id="descriptionTeach" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddTeach" style="display:none;" onclick="AddTeach();">Сохранить</button>
                        <button type="button" class="btn btn-danger" id="btnRemoveTeach" style="display:none;" onclick="RemoveTeach();">Удалить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateTeach" style="display:none;" onclick="UpdateTeach();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="userModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idUser" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>ФИО:</label>
                        <input type="text" class="form-control" id="ciliricNameUser" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Конструкторское бюро:</label>
                        <input type="text" class="form-control" id="devisionNameUser" disabled="disabled" />
                    </div>
                    <div class="col-lg-3">
                        <label>Категория:</label>
                        @Html.DropDownList("categoryUser", ViewBag.categoryUser as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Испытательный срок до:</label>
                        <input type="text" class="form-control" id="dateToCMKO" />
                    </div>
                    <div class="col-lg-2">
                        <label>Налог:</label>
                        <input type="text" class="form-control" id="taxUser" />
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateUser" onclick="UpdateUser();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="categoryModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idCategory" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Наименование:</label>
                        <input type="text" class="form-control" id="nameCategory" />
                    </div>
                    <div class="col-lg-2">
                        <label>Оклад:</label>
                        <input type="text" class="form-control" id="selaryCategory" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddCategory" style="display:none;" onclick="AddCategory();">Сохранить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateCategory" style="display:none;" onclick="UpdateCategory();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="periodModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Наименование:</label>
                        <input type="text" class="form-control" id="namePeriod" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddPeriod" onclick="AddPeriod();">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="calendModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idCalend" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Период:</label>
                        <input type="text" class="form-control" id="periodCalend" />
                    </div>
                    <div class="col-lg-2">
                        <label>Рабочее время (ч.):</label>
                        <input type="text" class="form-control" id="timeToOnePersonCalend" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddCalend" style="display:none;" onclick="AddCalend();">Сохранить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateCalend" style="display:none;" onclick="UpdateCalend();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="speedUserModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idSpeedUser" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>ФИО:</label>
                        <input type="text" class="form-control" id="userNameSpeedUser" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Период:</label>
                        <input type="text" class="form-control" id="periodSpeedUser" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Коэф.:</label>
                        <input type="text" class="form-control" id="coefSpeedUser" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateSpeedUser" onclick="UpdatSpeedUser();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ramarksUserModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="ramarksUserTable" class="table table-hover table-striped" style="width:100%;"></table>
                    </div>
                </div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
                <div class="row"><div class="col-lg-4"></div></div>
            </div>
        </div>
    </div>
</div>

<div id="viewReclamation" class="modal modal-wide fade" data-keyboard="false" data-toggle="popover">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="numberReclamation" disabled="disabled" />
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5">
                        <label>План-Заказ/ы №№:</label>
                        @Html.ListBox("pZ_PlanZakaz", ViewBag.PZ_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-2">
                        <label>Тип замечания:</label>
                        @Html.DropDownList("id_Reclamation_Type", ViewBag.id_Reclamation_Type as MultiSelectList, new { @class = "form-control", onchange = "UpdateDevisionListOTK(this)" })
                    </div>
                    <div class="col-lg-2">
                        <label>Автор замечания:</label>
                        <input type="text" class="form-control" id="vid_AspNetUsersCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Создана:</label>
                        <input type="text" class="form-control" id="vdateTimeCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-1">
                        <label> ОТК закрыл :      .  </label>
                        <input type="checkbox" id="close" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-3">
                        <label>Ответственное СП: </label>
                        @Html.DropDownList("id_DevisionReclamation", ViewBag.id_DevisionReclamation as MultiSelectList, new { @class = "form-control", @id = "id_DevisionReclamation" })
                    </div>
                    <div class="col-lg-3">
                        <label>Ответственный сотрудник: </label>
                        @Html.DropDownList("id_AspNetUsersError", ViewBag.id_AspNetUsersError as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Критерий ошибки:</label>
                        @Html.DropDownList("id_Reclamation_CountErrorFirst", ViewBag.id_Reclamation_CountErrorFirst as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <label>Текст замечания:</label>
                        @Html.TextAreaFor(model => model.text, htmlAttributes: new { @class = "form-control", @rows = 8 })
                    </div>
                    <div class="col-lg-6">
                        <label>Прим.:</label>
                        @Html.TextAreaFor(model => model.description, htmlAttributes: new { @class = "form-control", @rows = 5 })
                        <div class="row">
                            <div class="col-lg-5">
                                <label>Полуфабрикат:</label>
                                @Html.DropDownList("id_PF", ViewBag.id_PF as MultiSelectList, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5">
                                <label>РСАМ: </label>
                                <input type="text" class="form-control" id="PCAM" />
                            </div>
                            <div class="col-lg-2">
                                <label>Рекл. закрыта: </label>
                                <input type="checkbox" id="closeDevision" />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <label>Ответ:</label>
                        <textarea name="answerText" id="answerText" class="form-control" rows=7></textarea>
                    </div>
                    <div class="col-lg-6">
                        <label>История переписки:</label>
                        <textarea name="answerHistiryText" id="answerHistiryText" class="form-control" rows=7></textarea>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>На техсовет: </label>
                        <input type="checkbox" id="technicalAdvice" />
                    </div>
                    <div class="col-lg-2">
                        <label>ГИП: </label>
                        <input type="checkbox" id="gip" />
                    </div>
                    <div class="col-lg-2">
                        <label>Шум: </label>
                        <input type="checkbox" id="trash" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Добавить</button>
                        <button type="button" class="btn btn-danger" id="btnRemove" onclick="return remove();">Удалить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#dateToCMKO').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script>
    $(".modal-wide").on("show.bs.modal", function () {
        var height = $(window).height() - 50;
        $(this).find(".modal-body").css("max-height", height);
    });
</script>
<script>
    var leavelUser = @ViewBag.LeavelUser;
</script>