@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CMKO/Views/Shared/_LayoutCMKO.cshtml";
}
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/Content/Highcharts/highcharts.js"></script>
    <script src="~/Content/Highcharts/highcharts-more.js"></script>
    <script src="~/Content/Highcharts/exporting.js"></script>
    <script src="~/Areas/CMKO/Content/cmko.js?v0.1"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/bullet.js"></script>
    <style>
        #container1 {
            max-width: 800px;
            height: 115px;
            margin: 1em auto;
        }

        #container2, #container3 {
            max-width: 800px;
            height: 85px;
            margin: 1em auto;
        }

        .hc-cat-title {
            font-size: 13px;
            font-weight: bold;
        }

        .colu-200 {
            min-width: 200px;
        }

        .colu-300 {
            min-width: 300px;
        }
    </style>
</head>
<table id="optimizationTable" class="table table-hover table-striped" style="width:100%;"></table>
<table id="teachTable" class="table table-hover table-striped" style="width:100%;"></table>
<table id="usersTable" class="table table-hover table-striped" style="width:100%;"></table>
<table id="categoryTable" class="table table-hover table-striped" style="width:100%;"></table>
<table id="periodsTable" class="table table-hover table-striped" style="width:100%;"></table>
<table id="calendTable" class="table table-hover table-striped" style="width:100%;"></table>
<table id="cyrencyTable" class="table table-hover table-striped" style="width:100%;"></table>

<div id="optimizationModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idOptimization" disabled="dissabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Создано:</label>
                        <input type="text" class="form-control" id="userCreate" disabled="dissabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата/время создания:</label>
                        <input type="text" class="form-control" id="dateCreate" disabled="dissabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Автор идеи:</label>
                        @Html.DropDownList("autor", ViewBag.autor as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Период начисления:</label>
                        @Html.DropDownList("period", ViewBag.period as MultiSelectList, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <label>Описание предложения:</label>
                        <textarea rows="10" id="textData" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddOptimization" style="display:none;" onclick="AddOptimization();">Сохранить</button>
                        <button type="button" class="btn btn-danger" id="btnRemoveOptimization" style="display:none;" onclick="RemoveOptimization();">Удалить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateOptimization" style="display:none;" onclick="UpdateOptimization();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="teachModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idTeach" disabled="dissabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Учитель:</label>
                        @Html.DropDownList("teacherTeach", ViewBag.teacherTeach as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Обучаемый:</label>
                        @Html.DropDownList("studentTeach", ViewBag.studentTeach as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Период начисления:</label>
                        @Html.DropDownList("periodTeach", ViewBag.periodTeach as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Начисления (USD):</label>
                        <input type="text" class="form-control" id="costTeach" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <label>Прим.:</label>
                        <textarea rows="5" id="descriptionTeach" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddTeach" style="display:none;" onclick="AddTeach();">Сохранить</button>
                        <button type="button" class="btn btn-danger" id="btnRemoveTeach" style="display:none;" onclick="RemoveTeach();">Удалить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateTeach" style="display:none;" onclick="UpdateTeach();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="userModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idUser" disabled="dissabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>ФИО:</label>
                        <input type="text" class="form-control" id="ciliricNameUser" disabled="dissabled" />
                    </div>
                   <div class="col-lg-2">
                        <label>Конструкторское бюро:</label>
                        <input type="text" class="form-control" id="devisionNameUser" disabled="dissabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Категория:</label>
                        @Html.DropDownList("categoryUser", ViewBag.categoryUser as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Испытательный срок до:</label>
                        <input type="text" class="form-control" id="dateToCMKO" />
                    </div>
                    <div class="col-lg-2">
                        <label>Налог:</label>
                        <input type="text" class="form-control" id="taxUser" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                       <button type="button" class="btn btn-primary" id="btnUpdateUser" style="display:none;" onclick="UpdateTeach();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="categoryModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-1">
                        <label>Ид.:</label>
                        <input type="text" class="form-control" id="idCategory" disabled="dissabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Наименование:</label>
                        <input type="text" class="form-control" id="nameCategory" disabled="dissabled" />
                    </div>
                   <div class="col-lg-2">
                        <label>Оклад:</label>
                        <input type="text" class="form-control" id="selaryCategory" disabled="dissabled" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                        <button type="button" class="btn btn-primary" id="btnAddCategory" style="display:none;" onclick="AddCategory();">Сохранить</button>
                        <button type="button" class="btn btn-primary" id="btnUpdateCategory" style="display:none;" onclick="UpdateCategory();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


















<script type="text/javascript">
    $(function () {
        $('#dateToCMKO').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>