@model Wiki.PZ_TEO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование ТЭО: 
    @ViewBag.PZ
    </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div>
        @Html.ActionLink("Назад", "Index")
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.Id_PlanZakaz)
    @Html.HiddenFor(model => model.SSRFact)
    
    <div class="row">
        <div class="col-sm-6">
            Валюта
            @Html.DropDownList("Currency", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })

            Выручка без НДС
            @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })

            С/С материалов
            @Html.EditorFor(model => model.SSM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SSM, "", new { @class = "text-danger" })

            С/С зп рабочих
            @Html.EditorFor(model => model.SSR, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SSR, "", new { @class = "text-danger" })

            Изд. коммерчиские
            @Html.EditorFor(model => model.IzdKom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IzdKom, "", new { @class = "text-danger" })

            % по кредитам
            @Html.EditorFor(model => model.IzdPPKredit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IzdPPKredit, "", new { @class = "text-danger" })

            Постоянные издержки
            @Html.EditorFor(model => model.PI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PI, "", new { @class = "text-danger" })
            
            НОП
            @Html.EditorFor(model => model.NOP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NOP, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-6">
            Коммерческие издержки
            @Html.EditorFor(model => model.KI_S, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KI_S, "", new { @class = "text-danger" })

            КИ_Прочие
            @Html.EditorFor(model => model.KI_prochee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KI_prochee, "", new { @class = "text-danger" })

            Отпускная цена без НДС
            @Html.EditorFor(model => model.OtpuskChena, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OtpuskChena, "", new { @class = "text-danger" })

            Курс валюты
            @Html.EditorFor(model => model.KursValuti, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KursValuti, "", new { @class = "text-danger" })

            НДС
            @Html.EditorFor(model => model.NDS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NDS, "", new { @class = "text-danger" })
    
            Процент ПИ
            @Html.EditorFor(model => model.percentPI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.percentPI, "", new { @class = "text-danger" })
    
            Процент годовых
            @Html.EditorFor(model => model.percentYear, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.percentYear, "", new { @class = "text-danger" })
    
            Длительность получения платежа
            @Html.EditorFor(model => model.durationBeforePay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.durationBeforePay, "", new { @class = "text-danger" })
        </div>
    </div>




    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
    </div>
</div>
}


