@model IEnumerable<Wiki.VV_Position>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Письмо-рассылка об отгрузке заказа: @ViewBag.NumOrder</h2>


<br />
@*@Html.ActionLink("Отправить рассылку", "SendMail", new { id = @ViewBag.IdEmail }, new { @class = "btn btn-success" })*@
@Html.ActionLink("Отправить рассылку", "SendMail", new { id = @ViewBag.IdEmail, idf = @ViewBag.idPlanZakaz}, new { @class = "btn btn-success" })
<br />
<hr />
    Информация о заказе:
<hr />

<div>

</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6 bg-success">
            <h4>
                Наименоваине изделия: @ViewBag.name
                <br />
                <br />
                Масса брутто: @ViewBag.massaBrutto
                <br />
                Масса нетто: @ViewBag.massaNetto
                <br />
                Грузополучатель: @ViewBag.gruzopoluchatel
                <br />
                Адрес грузополучателя: @ViewBag.adresGruzo
                <br />
                ИНН грузополучателя: @ViewBag.iNNGruz
                <br />
                ОКПО грузополучателя: @ViewBag.oKPOGruz
                <br />
                Код грузополучателя: @ViewBag.kodGruz
                <br />
                Станция назначения: @ViewBag.sTNazn
                <br />
                Код станции: @ViewBag.kodSt
                <br />
                Особые отметки: @ViewBag.osobieOtm
                <br />
                Прочее: @ViewBag.prochee
                <br />
                Дата отгрузки:  @ViewBag.dateSh
            </h4>
        </div>
        <div class="col-sm-6 bg-warning">

        </div>
    </div>
</div>
<br />
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th width="10">Номер места</th>
        <th>Габарит</th>
        <th>Прим.</th>
        <th>Масса (брутто)</th>
        <th>Масса (нетто)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="10"> @Html.DisplayFor(modelItem => item.numMesto) </td>
            <td> @Html.DisplayFor(modelItem => item.Gabarit) </td>
            <td width="200px"> @Html.DisplayFor(modelItem => item.Description) </td>
            <td> @Html.DisplayFor(modelItem => item.massaBrutto)  </td>
            <td> @Html.DisplayFor(modelItem => item.massaNetto) </td>

            <td> @Html.ActionLink("Ред.", "Edit", new { id = item.id, cl = item.id_VVPZ }, new { @class = "btn btn-info" }) </td>
        </tr>
    }
</table>