@model Wiki.CMO_UploadResult
@{
    Layout = null;
}
<head>
    <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/select2-3.5.4/select2.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/Scripts/select2-3.5.4/select2.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
</head>
<h4>Внести полученые данные от ЦМО</h4>
<hr />
<h4>Заказ: @ViewBag.Position</h4>
<h4>Подрядчик: @ViewBag.Company</h4>
Заявка №: @ViewBag.Order
<br />
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.id_CMO_Tender)
    @Html.HiddenFor(model => model.id_CMO_Company)
    <div class="row">
        <div class="col-md-6">
            <h4>Стоимость</h4>
            @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
            <h4>Декларируемая дата изготовления</h4>
            @Html.EditorFor(model => model.dateComplited, new { htmlAttributes = new { @class = "form-control" } })
            <h4>Сменить подрядчика</h4>
            @Html.CheckBox("newDevision")
            @Html.DropDownList("reloadError", null, htmlAttributes: new { @class = "form-control" })
            <hr />
            <input type="submit" value="Сохранить" class="btn btn-success" />
        </div>
    </div>
}
<script type="text/javascript">
        $(function () {
            $('#dateComplited').datetimepicker({
                locale: 'ru',
                format: 'L',
                calendarWeeks: true,
                showTodayButton: true
            });
        });
</script>