@model Wiki.Models.ViewOSCMO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Scripts/bootstrap-table.min.css" rel="stylesheet" />
    <style>
        .container {
            width: 1600px;
        }
    </style>
</head>
<div class="container">
    <h4>Заказ железа у ЦМО</h4>
    <br />
    <a href="~/CMO2/Report" class="btn btn-primary" role="button">Сводная таблица</a>
    <a href="~/CMO2/ReportSmall" class="btn btn-primary" role="button">Сводная таблица (сокращенная)</a>
    <br />
    <br />
    <input class="form-control" id="myInput" type="text" placeholder="Поиск...">
    @{
        var count2 = 0;
        var count3 = 0;
        var count4 = 0;
    }
    <h2></h2>
    @Html.ActionLink("Сформировать заказ поставщику", "StartFirstTender", "CMO3", null, new { @class = "viewDialog1", data_dialog_title = "Загрузить данные" })
    <table data-toggle="table" class="table table-condensed">
        <thead>
            <tr>
                <th> Описание заявки </th>
                <th> Дата/время размещения </th>
                <th> Excel </th>
                <th> № предварительной заявки </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.ActiveOrder)
            {
                <tr>
                    <td>
                        @foreach (var item2 in item.CMO_PositionPreOrder)
                        {
                            @item2.PZ_PlanZakaz.PlanZakaz <nobr> - </nobr> @item2.CMO_TypeProduct.name <nobr>;   </nobr>
                        }
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.dateCreate) </td>
                    <td>                 <a href=@item.folder.ToString()>Excel</a> </td>
                    <td> @Html.DisplayFor(modelItem => item.id) </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <h5>Подтвердить запуск заказа в работу</h5>


    <table data-toggle="table" class="table table-condensed">
        <thead>
            <tr>
                <th> Загрузить </th>
                <th> Описание заявки </th>
                <th> Подрядчик </th>
                <th> Срок </th>
                <th> Excel </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ActiveSecondUpload)
            {
                count3 = item.CMO_Tender.id_CMO_Order;
                if (count3 != count4)
                {
                    if (count2 == 0)
                    {
                        count2 = 1;
                    }
                    else
                    {
                        count2 = 0;
                    }
                }
                if (count2 == 0)
                {
                    <tr class="warning">
                        <td>@Html.ActionLink("Загрузить", "UploadDataCompany", "CMO3", new { id = item.id }, new { @class = "viewDialog", data_dialog_title = "Загрузить данные" })</td>
                        <td>
                            @foreach (var item2 in item.CMO_Tender.CMO_Order.CMO_PositionOrder)
                            {@item2.PZ_PlanZakaz.PlanZakaz
                            <nobr> - </nobr>
                            @item2.CMO_TypeProduct.name
                            <nobr>; </nobr>}
                        </td>
                        <td> @Html.DisplayFor(modelItem => item.CMO_Company.name) </td>
                        <td>@item.CMO_Tender.finishPlanClose</td>
                        <td><a href=@item.CMO_Tender.CMO_Order.folder.ToString()>Excel</a> </td>
                    </tr>
                }
                else
                {
                    <tr class="info">
                        <td>@Html.ActionLink("Загрузить", "UploadDataCompany", "CMO3", new { id = item.id }, new { @class = "viewDialog", data_dialog_title = "Загрузить данные" })</td>
                        <td>
                            @foreach (var item2 in item.CMO_Tender.CMO_Order.CMO_PositionOrder)
                            {@item2.PZ_PlanZakaz.PlanZakaz
                            <nobr> - </nobr>
                            @item2.CMO_TypeProduct.name
                            <nobr>; </nobr>}
                        </td>
                        <td> @Html.DisplayFor(modelItem => item.CMO_Company.name) </td>
                        <td>@item.CMO_Tender.finishPlanClose</td>
                        <td><a href=@item.CMO_Tender.CMO_Order.folder.ToString()>Excel</a> </td>
                    </tr>
                }
                count4 = item.CMO_Tender.id_CMO_Order;
            }
        </tbody>
    </table>



    <hr />
    <h5>Подтвердить поступление железа</h5>
    <table data-toggle="table" class="table table-condensed">
        <thead>
            <tr>
                <th> Начать тендер </th>
                <th> Описание заявки </th>
                <th> Подрядчик </th>
                <th> Ожидаемая дата поступления </th>
                <th data-sortable="true"> Дата/время размещения </th>
                <th> Excel </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.ActiveOrderClose)
            {
            <tr>
                <td> @Html.ActionLink("Закрыть", "CloseOrder", "CMO", new { id = item.Id_Order }, null) </td>
                <td>
                    @item.PositionOrder.ToString()
                </td>
                <td> @item.CompanyName.ToString() </td>
                @try
                {
                    <td> @DateTime.Parse(Html.DisplayFor(modelItem => item.PlanFinishWork2).ToString()).ToShortDateString() </td>
                }
                catch
                {
                    <td></td>
                }
                @try
                {
                    <td> @DateTime.Parse(Html.DisplayFor(modelItem => item.DateStartWork).ToString()).ToShortDateString() </td>
                }
                catch
                {
                    <td></td>
                }
                <td> <a href=@item.folder.ToString()>Excel</a> </td>
            </tr>
            }
        </tbody>
    </table>
    <hr />
    <h5>Подтвердить запуск дозаказа в работу</h5>
    <table data-toggle="table" class="table table-condensed">
        <thead>
            <tr>
                <th> Запустить </th>
                <th> № заявки </th>
                <th> Описание дозаказа </th>
                <th> Подрядчик </th>
                <th data-sortable="true"> Дата/время размещения </th>
                <th> Excel </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.DefaultOrderNotComplited)
            {
                <tr>
                    <td>@Html.ActionLink("Подтвердить", "AppDefaultOrder", "CMO", new { item.id }, new { @class = "viewDialogAppDefaultOrder", data_dialog_title = "Получить дату" })</td>
                    <td> @item.id.ToString() </td>
                    <td>
                        @foreach (var data in item.CMO_PositionOrder)
                        {
                            @data.PZ_PlanZakaz.PlanZakaz.ToString() <nobr>;   </nobr>
                        }
                    </td>
                    <td> @item.CMO_Company.name.ToString() </td>
                    <td> @item.dateCreate </td>
                    <td> <a href=@item.folder.ToString()>Excel</a> </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script src="~/Content/Scripts/jquery.min.js"></script>
<script src="~/Content/Scripts/bootstrap-table.min.js"></script>
<script src='@Url.Content("~/Scripts/jquery-3.1.1.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    width: 1200,
                    height: 700,
                    modal: true
                })
                .load(this.href);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $(".viewDialog1").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    width: 1200,
                    height: 700,
                    modal: true
                })
                .load(this.href);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $(".viewDialogAppDefaultOrder").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    width: 1200,
                    height: 700,
                    modal: true
                })
                .load(this.href);
        });
    });
</script>