@model Wiki.PZ_Setup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PZ_Setup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KolVoDneyNaPrijemku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolVoDneyNaPrijemku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PunktDogovoraOSrokahPriemki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PunktDogovoraOSrokahPriemki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UslovieOplatyText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UslovieOplatyText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UslovieOplatyInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UslovieOplatyInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeNaRKD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeNaRKD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RassmotrenieRKD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RassmotrenieRKD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SrokZamechanieRKD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SrokZamechanieRKD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PZ_PlanZakaz.MTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PZ_PlanZakaz.MTR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
