@model Wiki.ServiceRemarks
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ServiceReclamations/Views/Shared/_LayoutServiceReclamations.cshtml";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://tpserver/PWA/Projects.aspx">Проекты</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a onclick="return loadData(1);">Активные</a></li>
            <li><a onclick="return loadData(2);">Закрытые</a></li>
            <li><a onclick="return loadData(3);">Все</a></li>
            <li><a href="~/Areas/ServiceReclamations/Content/АнализРекламаций.xlsx">to Excel</a></li>
            <li>
                <a style="color:crimson" href="/Account/Login/">
                    @{Html.RenderAction("RenderUserMenu", "Marks"); }
                </a>
            </li>
            <li><a id="pageData"></a></li>
        </ul>
    </div>
</nav>
<button id="btnAddNewReclamations" type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#createOrderModal" onclick=clearTextBox()>Зарегистрировать рекламацию</button>
<table id="reclamationTable" class="table table-hover table-striped" style="width:100%;"></table>
<div id="reclamationModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="numberReclamation" disabled="disabled" />
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.id)
                <div class="row">
                    <div class="col-lg-4">
                        <label>План-Заказ/ы №№:</label>
                        @Html.ListBox("pZ_PlanZakaz", ViewBag.PZ_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-4">
                        <label>Тип/ы возникновения:</label>
                        @Html.ListBox("id_Reclamation_Type", ViewBag.id_Reclamation_Type as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-4">
                        <label>Причина/ы возникновения:</label>
                        @Html.ListBox("id_ServiceRemarksCause", ViewBag.id_ServiceRemarksCause as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Создана:</label>
                        <input type="text" class="form-control" id="dateTimeCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Кем создана:</label>
                        <input type="text" class="form-control" id="userCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-1">
                        <label>Получена:</label>
                        <input type="text" class="form-control" id="datePutToService" />
                    </div>
                    <div class="col-lg-1">
                        <label>Закрыта:</label>
                        <input type="text" class="form-control" id="dateClose" />
                    </div>
                    <div class="col-lg-6">
                        <label>Ссылка на папку:</label>
                        <div class="input-group control-group after-add-more">
                            <input type="text" class="form-control" id="folder" disabled="disabled" />
                            <div class="input-group-btn">
                                <button class="btn btn-primary add-more" type="button"><i class="glyphicon glyphicon-copy" onclick="copyLink();"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <label>Описание:</label>
                        <textarea name="text" id="text" class="form-control" rows=5></textarea>
                    </div>
                    <div class="col-lg-6">
                        <label>Прим.:</label>
                        <textarea name="description" id="description" class="form-control" rows=5></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Добавить запись:</label>
                        <textarea name="answerText" id="answerText" class="form-control" rows=5></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="update();">Обновить</button>
                        <button type="button" class="btn btn-primary" id="btnAdd" style="display:none;" onclick="Add();">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="partRem">
                    <hr />
                    <label>Ход работы:</label>
                    <table id="tableAnswers" class="table table-hover table-striped" style="width:100%;"></table>
                </div>
            </div>
            <div class="modal-body">
                <div class="partRem">
                    <hr />
                    <label>Замечания для СП по рекламации:</label>
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Тип:</label>
                            @Html.DropDownList("typeRem", ViewBag.typeRem as MultiSelectList, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-1">
                            <label>СП: </label>
                            @Html.DropDownList("devRem", ViewBag.devRem as MultiSelectList, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-6">
                            <label>Текст:</label>
                            <input type="text" class="form-control" id="textRem" />
                        </div>
                        <div class="col-lg-2">
                            <label>Полуфабрикат:</label>
                            @Html.DropDownList("pfRem", ViewBag.pfRem as MultiSelectList, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-1">
                            <label>На техсовет: </label>
                            <input type="checkbox" id="technicalAdviceRem" />
                            <button class="btn btn-primary add-more" id="btnAddOtkRem" type="button"><i class="glyphicon glyphicon-plus" onclick="addNewRemarkOTK();"></i> </button>
                        </div>
                    </div>
                    <hr />
                    <table id="tableRem" class="table table-hover table-striped" style="width:100%;"></table>
                </div>
            </div>
        </div>
        </div>
</div>
<div id="excelNoCloseReclamatonModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <label>Укажите заказ/ы по которым необходимо получить перечень незакрытых замечаний при отгрузке изделия:</label>
                        @Html.ListBox("npZ_PlanZakaz", ViewBag.PZ_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnGetExcelNoCloseReclamation" style="display:none;" onclick="createAnClosePZ();">Сформировать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var userGroupId = @ViewBag.userGroupId;
</script>
<script type="text/javascript">
    $(function () {
        $('#datePutToService').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#dateClose').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script>
    $(".chosen-select").chosen({
        placeholder_text_multiple: "Нажмите для выбора...",
        allow_single_deselect: true, disable_search_threshold: 5, width: "100%"
    });
</script>