@model Wiki.CMO2_Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CMO/Views/Shared/_LayoutCMO.cshtml";
}
<head>
    <script src="~/Areas/CMO/Content/CMO.js?v1.5"></script>
    <link href="~/Content/Chosen/chosen.css" rel="stylesheet" />
    <script src="~/Content/Chosen/chosen.jquery.min.js"></script>
    <style>
        .highlightColor {
            background-color: #c42525;
            color: white;
        }
    </style>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://tpserver/PWA/Projects.aspx">Проекты</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a onclick="return loadData(1);">Отчет (ЦМО)</a></li>
            <li><a onclick="return loadData(2);">Отдел снабжения (ЦМО)</a></li>
            <li><a onclick="return loadData(3);">Отчет (сэндвич-панели)</a></li>
            <li><a onclick="return loadData(4);">Задачи по сэндвич-панелям</a></li>
            <li><a onclick="return loadData(5);">Заказ наклеек</a></li>
            <li><a href="~/Areas/CMO/Content/Табл ЦМО.xlsx">Отчет ЦМО (до июня 2019)</a></li>
            <li>
                <a style="color:crimson" href="/Account/Login/">
                    @{Html.RenderAction("RenderUserMenu", "CMOArea"); }
                </a>
            </li>
            <li><a id="pageId"></a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-md-12">
        <button id="btnAddOrder" type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#createOrderModal" onclick=clearTextBox()>Сформировать заказ железа</button>
        <button id="btnReOrder" type="button" class="btn-xs btn-primary" data-toggle="modal" data-target="#createReOrderModal" onclick=clearTextBox()>Сформировать дозаказ железа</button>
        <button id="btnAddSandwichPanel" type="button" class="btn-xs btn-success" data-toggle="modal" data-target="#createSandwichPanelModal" onclick=clearTextBox()>Заказать сэндвич-панели</button>
        <button id="btnAddStickers" type="button" class="btn-xs btn-danger" data-toggle="modal" data-target="#createStickersModal" onclick=ClearStickersData()>Сформировать заказ наклеек</button>
        <button id="btnReStickers" type="button" class="btn-xs btn-danger" data-toggle="modal" data-target="#createReStickersModal" onclick=ClearStickersData()>Сформировать дозаказ наклеек</button>
        <button id="btnSimpleStickers" type="button" class="btn-xs btn-danger" data-toggle="modal" data-target="#createSimpleStickersModal" onclick=ClearStickersData()>Сформировать заказ общих наклеек</button>
        <button id="btnPushStickersOrders" type="button" class="btn-xs btn-danger" onclick=PushStickersOrders()>Отправить заказ наклеек в закупку</button>
        <hr />
        <div id="dApproveTable">
            <label>Требуется произвести сверку данных:</label>
            <table id="approveTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dCorrectionTable">
            <label>Требуется внести изменения в заказ:</label>
            <table id="correctionTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dCustomerTable">
            <label>Требуется отправить заказ поставщику:</label>
            <table id="customerTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dGetDateComplitedTable">
            <label>Необхдимо подтвердить запуск заказа в работу:</label>
            <table id="getDateComplitedTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dComplitedTable">
            <label>Подтвердить приход:</label>
            <table id="complitedTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dToWork">
            <label>Сформировать заказ поставщику</label>
            <table id="toWorkTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dToManuf">
            <label>Подтвердить запуск заказа в работу</label>
            <table id="toManufTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dReOrder">
            <label>Дозаказы</label>
            <table id="reOrderTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dToCompl">
            <label>Подтвердить поступление железа</label>
            <table id="toCloseTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="dReport">
            <label>Отчет</label>
            <table id="reportTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
        <div id="stickersPanel">
            <label>Заказ наклеек</label>
            <table id="stickersTable" class="table table-hover table-striped" style="width:100%;"></table>
            <hr />
        </div>
    </div>
</div>

<div id="createOrderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddOrder", "CMOArea", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.id)
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Введите №заказа/ов:</label>
                            @Html.ListBox("oid_PlanZakaz", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Выберете тип/ы заказываемых ТМЦ:</label>
                            @Html.ListBox("oid_CMO_TypeProduct", ViewBag.id_CMO_TypeProduct as MultiSelectList, new { @class = "chosen-select" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <input accept="file/*" id="ofile1" multiple="multiple" name="ofile1" type="file" />
                            <hr />
                            <input type="submit" value="Разместить заказ" class="btn btn-primary" onclick="addOrder()" />
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="osModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.id)
                <div class="row">
                    <div class="col-lg-4">
                        <label>№заказа/ов:</label>
                        @Html.ListBox("id_PlanZakaz", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-4">
                        <label>Тип/ы заказываемых ТМЦ:</label>
                        @Html.ListBox("id_CMO_TypeProduct", ViewBag.id_CMO_TypeProduct as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label>Подрядчик:</label>
                        @Html.DropDownList("id_CMO_Company", ViewBag.id_CMO_Company as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Создана:</label>
                        <input type="text" class="form-control" id="dateTimeCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Автор заявки:</label>
                        <input type="text" class="form-control" id="id_AspNetUsers_Create" disabled="disabled" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-1">
                        <label>Сформировать заказ поставщику:</label>
                    </div>
                    <div class="col-lg-1">
                        <label>Процедура начата:</label>
                        <input type="checkbox" id="workIn" />
                    </div>
                    <div class="col-lg-2">
                        <label>Срок получения ответа:</label>
                        @Html.EditorFor(model => model.workDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-lg-2">
                        <label>Цена, б/НДС (BYN):</label>
                        @Html.EditorFor(model => model.workCost, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-lg-1">
                        <label>Процедура закрыта:</label>
                        <input type="checkbox" id="workComplitet" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-1">
                        <label>Подтвердить запуск заказа в работу:</label>
                    </div>
                    <div class="col-lg-1">
                        <label>Процедура начата:</label>
                        <input type="checkbox" id="manufIn" />
                    </div>
                    <div class="col-lg-2">
                        <label>Плановая дата поступления:</label>
                        @Html.EditorFor(model => model.manufDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-lg-2">
                        <label>Цена, б/НДС (BYN):</label>
                        @Html.EditorFor(model => model.manufCost, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-lg-1">
                        <label>Процедура закрыта:</label>
                        <input type="checkbox" id="manufComplited" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-1">
                        <label>Подтвердить поступление железа:</label>
                    </div>
                    <div class="col-lg-1">
                        <label>Процедура начата:</label>
                        <input type="checkbox" id="finIn" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата поступления:</label>
                        @Html.EditorFor(model => model.finDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-lg-2">
                        <label>Цена, б/НДС (BYN):</label>
                        @Html.EditorFor(model => model.finCost, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-lg-1">
                        <label>Процедура закрыта:</label>
                        <input type="checkbox" id="finComplited" />
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="update();">Обновить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="createReOrderModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddReOrder", "CMOArea", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.id)
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Введите №заказа/ов:</label>
                            @Html.ListBox("roid_PlanZakaz", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Выберете подрядчика:</label>
                            @Html.DropDownList("roid_CMO_Company", ViewBag.id_CMO_Company as MultiSelectList, new { @class = "form-control" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <input accept="file/*" id="rofile1" multiple="multiple" name="rofile1" type="file" />
                            <hr />
                            <input type="submit" value="Разместить заказ" class="btn btn-primary" onclick="addOrder()" />
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="createSandwichPanelModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddSandwichPanelOrder", "CMOArea", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.id)
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Введите №заказа/ов:</label>
                            @Html.ListBox("spid_PlanZakaz", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <input accept="file/*" id="spfile1" multiple="multiple" name="spfile1" type="file" />
                            <hr />
                            <input type="submit" value="Разместить заказ" class="btn btn-primary" onclick="addOrder()" />
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="reOrderModalClose" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>№ дозаказа:</label>
                        <input type="text" class="form-control" id="Reid" disabled="disabled" />
                    </div>
                    <div class="col-lg-4">
                        <label>№заказа/ов:</label>
                        @Html.ListBox("Reid_PlanZakaz", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "chosen-select" })
                    </div>
                    <div class="col-lg-2">
                        <label>Создана:</label>
                        <input type="text" class="form-control" id="RedateTimeCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Автор заявки:</label>
                        <input type="text" class="form-control" id="Reid_AspNetUsers_Create" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" id="btnUpdateRe" style="display:none;" onclick="updateReOrder();">Дозаказ принят в работу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="OSSPModalView" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>№ заявки:</label>
                        <input type="text" class="form-control" id="spid" disabled="disabled" />
                    </div>
                    <div class="col-lg-4">
                        <label>№заказа/ов:</label>
                        <input type="text" class="form-control" id="spid_PlanZakaz2" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Подрядчик:</label>
                        @Html.DropDownList("id_SandwichPanelCustomer", ViewBag.id_SandwichPanelCustomer as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Создана:</label>
                        <input type="text" class="form-control" id="spdateTimeCreate" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Автор заявки:</label>
                        <input type="text" class="form-control" id="spid_AspNetUsers_Create" disabled="disabled" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Произвести сверку данных:</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Процедура активна:</label>
                        <input type="checkbox" id="onApprove" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата завершения сверки:</label>
                        <input type="text" class="form-control" id="datetimeToCorrection" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <button type="button" class="btn btn-danger" id="btnPanelToKO" style="display:none;" onclick="postPanelToKO();">Отправить на доработку</button>
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <button type="button" class="btn btn-primary" id="btnPanelToWork" style="display:none;" onclick="postPanelToWork();">Запустить в работу</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Внести изменения в заказ:</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Процедура активна:</label>
                        <input type="checkbox" id="onCorrection" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата завершения сверки:</label>
                        <input type="text" class="form-control" id="datetimeUploadNewVersion" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <button type="button" class="btn btn-danger" id="btnPanelToManufacturing" style="display:none;" onclick="postPanelToManufacturing();">Удалить заявку</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Отправить заказ поставщику:</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Процедура активна:</label>
                        <input type="checkbox" id="onCustomer" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата завершения:</label>
                        <input type="text" class="form-control" id="datetimeToCustomer" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <button type="button" class="btn btn-primary" id="btnPanelToCustomer" style="display:none;" onclick="postPanelToCustomer();">Разместить заказ у поставщика</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Подтвердить запуск заказа в работу:</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Процедура активна:</label>
                        <input type="checkbox" id="onGetDateComplited" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата завершения:</label>
                        <input type="text" class="form-control" id="datetimePlanComplited" />
                    </div>
                    <div class="col-lg-2">
                        <label>Номер счет-фактуры:</label>
                        <input type="text" class="form-control" id="numberOrder" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <button type="button" class="btn btn-primary" id="btnPanelToPlanComplited" style="display:none;" onclick="postPanelToPlanComplited();">Обновить</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-2">
                        <label>Подтвердить приход:</label>
                    </div>
                    <div class="col-lg-2">
                        <label>Процедура активна:</label>
                        <input type="checkbox" id="onComplited" disabled="disabled" />
                    </div>
                    <div class="col-lg-2">
                        <label>Дата завершения:</label>
                        <input type="text" class="form-control" id="datetimeComplited" />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <button type="button" class="btn btn-primary" id="btnPanelToComplited" style="display:none;" onclick="postPanelToComplited();">Обновить</button>
                    </div>
                </div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <div class="row"><div class="col-lg-4">&nbsp</div></div>
                <hr />
            </div>
        </div>
    </div>
</div>
<div id="createStickersModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddStickersOrder", "CMOArea", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Введите № заказа:</label>
                            @Html.DropDownList("idStickersOrder", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-2">
                            <label>Требуемая дата:</label>
                            <input type="text" class="form-control" id="dateStickersOrder" name="dateStickersOrder" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg col-xs-12">
                            <label>Прим.:</label>
                            <textarea name="descStickersOrder" id="descStickersOrder" class="form-control" rows=5></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <input accept="file/*" id="spfileStickers" multiple="multiple" name="spfileStickers" type="file" />
                            <hr />
                            <input type="submit" value="Разместить заказ" class="btn btn-primary" onclick="addOrder()" />
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="createReStickersModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddReStickersOrder", "CMOArea", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="row">
                    <div class="col-lg-3">
                        <label>Введите № заказа:</label>
                        @Html.DropDownList("idStickersReOrder", ViewBag.id_PlanZakaz as MultiSelectList, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <label>Требуемая дата:</label>
                        <input type="text" class="form-control" id="dateStickersReOrder" name="dateStickersReOrder" />
                    </div>
                </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Прим.:</label>
                            <textarea name="descReOrder" id="descReOrder" class="form-control" rows=5></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-10">
                            <input accept="file/*" id="spfileReStickers" multiple="multiple" name="spfileReStickers" type="file" />
                            <hr />
                            <input type="submit" value="Разместить дозаказ наклеек" class="btn btn-primary" onclick="AddReStickersOrder()" />
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="createSimpleStickersModal" class="modal modal-wide fade" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddSimpleStickersOrder", "CMOArea", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Требуемая дата:</label>
                            <input type="text" class="form-control" id="dateStickersSimpleOrder" name="dateStickersSimpleOrder" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Прим.:</label>
                            <textarea name="descStickersSimpleOrder" id="descStickersSimpleOrder" class="form-control" rows=5></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <input accept="file/*" id="spfileSimpleStickers" multiple="multiple" name="spfileSimpleStickers" type="file" />
                            <hr />
                            <input type="submit" value="Разместить заказ наклеек" class="btn btn-primary" onclick="AddSimpleStickersOrder()" />
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <div class="row"><div class="col-lg-4">&nbsp</div></div>
                    <hr />
                }
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".modal-wide").on("show.bs.modal", function () {
        var height = $(window).height() - 200;
        $(this).find(".modal-body").css("max-height", height);
    });
</script>
<script>
    $(".chosen-select").chosen({
        placeholder_text_multiple: "Нажмите для выбора...",
        allow_single_deselect: true, disable_search_threshold: 5, width: "100%"
    });
</script>
<script>
    var userGroupId = @ViewBag.userGroupId;
</script>
<script type="text/javascript">
    $(function () {
        $('#workDateTime').datetimepicker({
            locale: 'ru',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#manufDate').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#finDate').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimePlanComplited').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimeComplited').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#dateStickersOrder').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#dateStickersReOrder').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#dateStickersSimpleOrder').datetimepicker({
            locale: 'ru',
            format: 'L',
            calendarWeeks: true,
            showTodayButton: true
        });
    });
</script>